<%
=begin

    La balise HEAD du site
    ----------------------

    C'est ici que sont définis tous les CSS et autres JS à charger.

    Note : le bind est `site`

=end
%>
<base href="http://<%= url %>/" />
<%= all_meta_tags %>
<title><%= head_titre %></title>
<%= stylesheet_links %>
<%
# NOTE CONCERNANT LES JAVASCRIPTS
# -------------------------------
# Ces javascripts sont placés en fin de page, donc ils sont définis
# dans footer.
%>
