<% 

# Accueil de la collection Narration

%>
<%= header %>

<%= Narration.main_titre %>

<p id="presentation_simple" class="light">La collection Narration est un ensemble d'ouvrages consacrés à l'art d'élaborer et d'écrire une histoire, pour tous les types de support, film, roman, BD, série, etc.</p>

<h3>Tous les livres</h3>

<%= 
  require_lib('narration:livres_listing')
  Narration.menu_livres %>

<%= footer %>
