<%
=begin

  Page principale listant les outils

=end
%>
<%= header %>
<h2>Outils d’écriture</h2>

<p>[Ici, bientôt, la liste complète des outils]</p>

<p><a href="scenodico/list/1">Le Scénodico</a></p>

<p><a href="unanunscript/home">Le programme UN AN UN SCRIPT</a></p>
<!-- Ne pas toucher "Le programme UN AN UN SCRIPT" ou modifier les tests -->

<p><%= lien.narration('La collection Narration') %>  </p>

<%= right_margin %>
<%= footer %>
