<%
=begin

  Page principale listant les outils

=end
%>
<%= header %>
<h2>Outils d’écriture</h2>

<p>[Ici, bientôt, la liste des outils]</p>

<p><a href="uaus/home">Programme Un film/un roman En Un An</a></p>

<%= right_margin %>
<%= footer %>
