<%= header %>
<p>&nbsp;</p>
<div class="cadre big air red error" style="border-color: red;">
  <div class="error">Problème avec la vue demandée :</div>
  <div class="error"><%= __error_message %></div>
</div>
<div class="center">
  <a href="#" class="small" onclick="window.history.back();">Retour à la page précédente</a>
</div>
<%= footer %>
