<%
# Mail de confirmation d'inscription à l'User
%>
<p>Bonjour <%= pseudo %>,</p>
<p>J’ai le plaisir de vous confirmer votre inscription au programme UN AN UN SCRIPT sur <%= configuration.titre %>. Merci infiniment de votre confiance.</p>

<p>
  Vous trouverez sur la page <a href="http://www.laboiteaoutilsdelauteur.fr/unanunscript/aide">Aide du programme UN AN UN SCRIPT</a> toutes les informations indispensables pour bien démarrer ce programme.
</p>

<p>
  N’hésitez pas à mettre cette page de côté pour y revenir dès que vous en aurez besoin.
</p>

<%= last_paiement.facture %>

<p>
  En vous souhaitant bon courage pour cette grande aventure émotionnelle qu’est l’écriture d’un roman, d’un film ou d’une BD&nbsp;!
</p>
<p>
  Bien à vous,
</p>
