<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/2">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/4">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/2">Prologue</a></span></div>
</div>

<section id="page_narration-3" class="page_narration">
<h2 class="titre_page">La structure, qu'est-ce que c'est ?</h2>

<!-- Page : #3 La Structure, qu'est-ce que c'est ? -->

<p>Le terme “Structure”, tel que je l’entends dans cet ouvrage, revêt les aspects et sens suivants :</p>

<ul>
  <li>elle concerne la <a href="scenodico/mot/228" class="mot">forme</a> très générale du récit, son plan général, ce que j’appellerai plus tard <em>les fondements</em> ou <em>les fondations</em> du <a href="scenodico/mot/190" class="mot">récit</a> ;</li>
  <li>elle concerne les éléments qui soutiennent le récit sans être pour autant apparents, à l’instar des murs portants ou de la charpente d’une bâtisse ;</li>
  <li>elle concerne la façon dont sont organisés tous les éléments qui constituent le système complexe qu’est un récit ;</li>
  <li>elle concerne enfin l’agencement des <a href="scenodico/mot/158" class="mot">évènements</a> — à commencer par les <a href="scenodico/mot/121" class="mot">scènes</a> — dans une chronologie ;</li>
  <li>la structure, c’est enfin le <em>rythme</em> produit par cet agencement des évènements.</li>
</ul>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/2">Prologue</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/2">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/4">→</a></span>
  </div>
  
</div>

