<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/9">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/530">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
</div>

<section id="page_narration-320" class="page_narration">
<h2 class="titre_page">Plan de route du récit</h2>

<!-- Page: #320 Plan de route du récit -->

<p>Oublions tout ce que nous venons de dire et essayons d’approcher la structure par un autre versant.</p>

<blockquote>
  <p>La structure, c’est le<br /><em>plan de route</em> de l’histoire.</p>
</blockquote>

<p>La métaphore du “plan de route” est très utile, car elle va jouer à plusieurs niveaux, autant au niveau de la construction de l’histoire elle-même que de l’aide que ce plan apporte à l’auteur pour atteindre l’histoire rêvée.</p>

<p>Si la structure est le <em>plan de route</em> de l’histoire, il faut garder en tête qu’un plan ne restera jamais qu’un plan : il ne raconte pas les paysages, il ne raconte pas le climat, il ne raconte pas les détails de la route. Il trace des <em>chemins artificiels</em>, il pose des distances, des jalons. Un plan ne sera jamais un film du voyage vu au travers de la vitre d’une voiture ou d’un train. Il n’est pas là pour raconter l’histoire, il n’est que la promesse d’un voyage possible, il est là pour en dessiner le parcours et le pourtour.</p>

<p>Il faut donc s’efforcer, en abordant la structure dans un premier temps, de voir son histoire <em>de plus haut</em>, de prendre de la hauteur. On peut y parvenir, pour commencer, en respectant ces quelques consignes utiles :</p>

<ul>
  <li>ne pas entrer dans les détails, sauf lorsque ces détails sont révélateurs du général ;</li>
  <li>synthétiser, rechercher l’essence de ce qui fera chaque partie, chaque acte, chaque grande séquence. Ne pas <em>décrire ce qui sera</em> mais <em>écrire ce qui doit être</em> (c’est particulièrement difficile quand on débute mais on ne devient véritablement auteur que lorsqu’on y parvient presque sans effort et de façon spontanée) ;</li>
  <li>être <em>explicite</em>, contrairement au récit qui, lui, travaillera la plupart du temps sur l’<em>implicite</em>. Cela signifie : dire le plus clairement possible les choses, sans sous-entendus, exprimer ce qu’on cherche à atteindre, l’effet qu’on cherche à atteindre, l’émotion qu’on cherche à atteindre. Ne pas trop développer le <em>comment on va l’atteindre</em> ;</li>
  <li>en d’autres termes, ne pas décrire les choses, parler de leur <em>fonction</em>, de leur <em>nécessité</em>, des buts qu’elles visent.</li>
</ul>

<p>C’est ainsi que vous pourrez utiliser profitablement ce plan de route de votre histoire et partir sur les meilleures bases.</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/9">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/530">→</a></span>
  </div>
  
</div>

