<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/3">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/5">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/2">Prologue</a></span></div>
</div>

<section id="page_narration-4" class="page_narration">
<h2 class="titre_page">Pourquoi structurer son récit ?</h2>

<!-- Pourquoi structure son récit -->

<p>Cette collection d’ouvrages se voulant éminemment pragmatique, les réponses aux questions telles que celle de ce titre ne seront volontairement qu’effleurées. On pourrait dire succinctement que la structure joue un rôle capital, à part égale avec les personnages ou les thèmes, dans l’appréhension du récit par le public, que ce récit se destine à l’écran ou à l’écrit. Qu’il est donc capital, pour l’auteur, d’apprendre à la maitriser.</p>

<p>Je voudrais pourtant axer ici la réflexion sur trois points essentiels :</p>

<ul>
  <li>la <em>clarté</em> que la structure donne au récit,</li>
  <li>le <em>rythme</em> que la structure imprime au récit,</li>
  <li>le <em>sens</em> que la structure insuffle au récit.</li>
</ul>

<h3 id="la-clart">La Clarté</h3>

<blockquote>
  <p>La structure vise à la clarté du récit.</p>
</blockquote>

<p>Il peut paraitre étonnant de citer la “clarté” comme première raison à la nécessité impérieuse de structure. C’est pourtant la toute première fonction de la structure qui, en organisant le discours qu’est un récit, vise à le rendre le plus intelligible possible, c’est-à-dire le plus clairement perceptible au public afin que son impact soit le plus fort et le plus durable possible. L’apprenti-auteur a tout intérêt à garder cela très <em>clairement</em> en tête.</p>

<p>Ne nous méprenons pas sur le sens du terme “organiser” employé ci-dessus. En aucun cas “organiser le discours” n’implique de le présenter dans l’ordre chronologique, même si c’est la plupart du temps le cas. En aucun cas “organiser le discours” ne signifie le rendre logique, même si c’est la plupart du temps le cas. Des films comme <a href="filmodico/show/4" class="film"><span class="titre">21 Grams</span> (<span class="titrefr">21 Grammes</span>, <span class="realisateur">prenom nom</span>, <span class="annee">2003</span>)</a>, <a href="filmodico/show/187" class="film"><span class="titre">Memento</span> (<span class="realisateur">prenom nom</span>, <span class="annee">2000</span>)</a> ou <a href="filmodico/show/31" class="film"><span class="titre">Crash</span> (<span class="titrefr">Collision</span>, <span class="realisateur">prenom nom</span>, <span class="annee">2004</span>)</a> qui s’amusent de la chronologie sont pourtant de parfaites réussites formelles. Pour simplifier, dans ces films, la chronologie des histoires est volontairement abandonnée pour des raisons diverses. La progression et la clarté n’en sont pas pour autant négligées et sont même d’autant plus soignées que le discours n’est pas chronologique. On sort de ces histoires en ayant une perception claire de l’histoire qui a été racontée.</p>

<p><em>Organiser</em> signifie plutôt : rejeter toute matière superflue. <em>Organiser</em> signifie plutôt : rechercher les évènements les plus aptes à produire l’effet voulu. <em>Organiser</em> signifie plutôt : agencer les évènements de telle sorte que l’effet — et donc la compréhension — ait le plus d’impact possible sur le public.</p>

<p>Donc, plus le discours — c’est-à-dire le “parcours” — de l’histoire sera clair, et plus il pourra impacter le public. La structure n’est rien d’autre, en ce sens, que l’organisation d’un discours, son ordonnancement. Même le film d’action le plus basique, le moins intellectuel, a besoin d’une organisation claire pour emporter le spectateur. Les voitures puissantes et les armes à feu n’y suffisent pas.</p>

<p>Or, cette clarté ne commence pas lorsque l’on doit écrire un dialogue <em>compréhensible</em>, elle commence dans l’agencement même des évènements, agencement qui doit être toujours choisi avec cette préoccupation de clarté. Et plus ce parcours est complexe, plus cet agencement doit s’efforcer de palier cette complexité pour laisser toujours percevoir le discours. Nous verrons comment le faire dans la suite de l’ouvrage.</p>

<p>Une histoire mal organisée, tout comme un discours mal préparé, ne sait jamais où elle va. Au contraire, une histoire solidement architecturée, qui rend perceptible toutes les “marches” de son ascension dramatique parce qu’elles sont correctement traitées et qu’elles se trouvent à leur juste place a toutes les chances d’accrocher l’attention.</p>

<blockquote>
  <p>La clarté n’est pas <em>suffisante</em> pour créer une histoire captivante, mais cette clarté est <em>nécessaire</em> et même <em>indispensable</em>.</p>
</blockquote>

<h3 id="le-rythme">Le Rythme</h3>

<!-- FIN EXTRAIT -->

<p>La structure vise également à créer du rythme, rythme indispensable pour maintenir l’intérêt et l’attention du public.</p>

<p>On reviendra en détail sur cette notion de rythme et l’outil puissant qu’il peut devenir entre les mains de l’auteur avisé, mais pour le moment, je me contenterai de dire que le rythme permet en tout premier lieu de jouer avec l’attention du public, de le maintenir éveillé d’un bout à l’autre de l’histoire.</p>

<h3 id="crer-du-sens">Créer du sens</h3>

<p>L’apprenti-auteur n’en a souvent pas assez conscience, mais la structure peut jouer un rôle également décisif pour <em>créer du sens</em>. Par l’agencement des évènements, par leur imbrication, la structure insuffle du sens, parfois même sans que le public en ait conscience, sans qu’il ne se le verbalise forcément intérieurement.</p>

<p>Cette notion de <em>sens</em> est complexe et nécessiterait à elle-seule un ouvrage complet, je l’illustrerai ici par deux exemples éloquents tirés du film film:Titanic1997. Veuillez noter que comme tout exemple, ils sont forcément réducteurs et les effets qu’ils produisent ne sont que deux effets parmi une infinité d’autres effets possibles.</p>

<p>Le premier exemple est simple, il montre comment la structure parvient à associer deux éléments a priori sans rapport. Cet exemple se trouve dans la présentation du personnage de <span class="personnage">Rose</span>, le personnage féminin, au début du film. On la voit découvrir le paquebot avec son futur époux, et l’on entend sur les images sa voix-off nous raconter la détresse intérieure dans laquelle se trouve le personnage (c’est Rose âgée qui raconte). Puis se produit l’effet structurel qui nous intéresse ici : alors que <span class="personnage">Rose</span> est en train de raconter que sous ses apparences de jeune fille bien éduquée elle hurlait dans son for intérieur, l’auteur décide de nous montrer les cheminées du paquebot se mettre en action et hurler à leur tour. Par cette simple organisation structurelle, ce simple parallèle, l’auteur nous impose l’idée que Rose et le Titanic sont la même et unique entité. Il assimile le Titanic à Rose, il <em>crée du sens</em>. Et ce sens est développé d’un bout à l’autre du film : l’histoire ne racontera pas seulement le naufrage d’un navire, mais racontera également comment un personnage, <span class="personnage">Rose</span>, échappe au naufrage qu’aurait dû être sa vie si elle n’avait rencontré l’ange <span class="personnage">Jack</span>.</p>

<p>Le second exemple tiré du même film est plus complexe mais aussi beaucoup plus remarquable. C’est même un cas d’école. Il se produit vers le milieu du film, au moment de l’impact avec l’iceberg. Si vous revoyez le film, vous noterez un point structurel particulièrement intéressant : toute la séquence — donc la suite de scènes — concernant le choc avec l’iceberg s’articule autour d’un long baiser échangé entre <span class="personnage">Rose</span> et <span class="personnage">Jack</span>. La séquence commence lorsque les deux personnages remontent de la soute et s’embrassent sur le pont ; la séquence s’achève après l’impact avec l’iceberg en même temps que leur baiser. Or, c’est justement <em>à cause</em> de ce baiser que le Titanic va rencontrer son destin : si l’attention des deux vigiles n’avait pas été détournée par ce baiser, ils auraient eu le temps de voir l’iceberg, ils auraient eu le temps de donner l’alerte et l’impact aurait été évité. Par sa construction structurelle, en rendant les protagonistes responsables de leur destin, <span class="auteur">James Cameron</span> <em>crée du sens</em>, un sens très fort ici puisqu’il va jusqu’à réécrire l’Histoire.</p>

<p>Vous noterez ici que “sens”, dans ces exemples, à un <em>sens</em> (sic) particulier. Il ne s’agit pas forcément d’un sens explicite, conscient, clair. Autant le spectateur attentif pourra noter d’évidence l’assimilation faite par le premier exemple entre <span class="personnage">Rose</span> et le Titanic — d’autant plus si ce spectateur est anglo-saxon et sait donc que les navires sont des entités féminines en anglais —, autant le second exemple illustre un travail plus profond, un travail qui n’œuvre pas au niveau de la conscience du spectateur. Personne, je pense, ne peut se formuler explicitement à la première vision du film : “C’est à cause de Rose et Jack que le Titanic a sombré”. On peut néanmoins se convaincre que cela joue de façon forte dans l’inconscient et la perception du récit ; par le fait qu’inconsciemment nous percevons que les protagonistes sont auteurs de leur destin, qu’ils sont les premiers responsables de leur malheur, le film évite l’écueil du mélodrame.</p>

<p>Notez enfin, pour en finir avec ces deux exemples, comment le premier donne un sens paradoxal au second : le <em>naufrage</em> du Titanic — Titanic qui n’est donc qu’une allégorie de Rose — débute au moment même où s’amorce véritablement le <em>sauvetage</em> de <span class="personnage">Rose</span> par <span class="personnage">Jack</span> — Jack, en déflorant Rose, la révèle en quelque sorte à elle-même. Remarquable travail de structuration.</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/2">Prologue</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/3">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/5">→</a></span>
  </div>
  
</div>

