<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/320">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/10">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
</div>

<section id="page_narration-530" class="page_narration">
<h2 class="titre_page">Précisions sémantiques</h2>

<!-- Page: #530 Précisions sémantiques -->

<p>Avant d’aborder le sujet en profondeur, il est peut-être important de bien préciser ce que sont les composants principaux de la structure, à savoir :</p>

<ul>
  <li>la séquence,</li>
  <li>la scène,</li>
  <li>le segment,</li>
  <li>l’incident.</li>
</ul>

<h2 id="la-squence-et-la-scne">La séquence et la scène</h2>

<p>Il faut d’abord être informé de l’ambiguïté entourant les termes <em>séquence</em> et <em>scène</em>. Le scénariste parle de <em>scène</em> lorsque le réalisateur — ou les commentateurs divers — parle de <em>séquence</em>. Dans le langage courant, séquence et scène sont la même chose et parlent d’une scène scénaristique.</p>

<p>Pour le scénariste ou l’auteur, une séquence est un ensemble de scènes.</p>

<p>Une <em>scène</em> respecte globalement les règles des trois unités théâtrales :</p>

<ul>
  <li>unité de lieu,</li>
  <li>unité de temps,</li>
  <li>unité d’action.</li>
</ul>

<p>La scène se passe, d’ordinaire, dans le même lieu, possède les mêmes personnages et le même objectif local. La durée moyenne d’une scène de cinéma est de 1 minute et elle varie généralement de 10 secondes à 10 minutes.</p>

<p>Une <em>séquence</em> est un segment plus long qui réunit plusieurs scènes, donc souvent plusieurs lieux, plusieurs personnages, plusieurs objectifs locaux. Elle peut se définir par un objectif plus général.</p>

<p>Imaginons que l’objectif général d’une séquence soit de construire un pont, cette séquence peut être divisée en plusieurs scènes ayant chacune un objectif propre et respectant les trois unités théâtrales :</p>

<pre class="document brut plain">
|----------- séquence : construire un pont -----------&gt;|

|scène embauche|scène plan|scène choix|scène construc- |
|architecte    |du pont   |ouvriers   |tion du pont    |
|-------------&gt;|---------&gt;|----------&gt;|---------------&gt;|</pre>

<h2 id="le-segment-et-lincident">Le segment et l’incident</h2>

<p>Une histoire, une structure, est constituée de <em>segments</em> et d’<em>incidents</em>.</p>

<p>Un acte, comme une séquence, est un <em>segment</em>, il couvre une durée assez importante du récit, il décrit une progression de l’histoire. En géométrie, ce serait une ligne.</p>

<p>L’<em>incident</em>, au contraire, se produit à un temps donné très circonscrit et il définit un <em>point</em> du récit. Il peut faire basculer ce récit d’un état à l’autre. Dans <a href="filmodico/show/158" class="film"><span class="titre">Thelma &amp; Louise</span> (<span class="realisateur">Ridley Scott</span>, <span class="annee">1991</span>)</a>, le meurtre de Harlan par Louise est un <em>point</em> qui fait basculer le récit d’un week-end à la montagne vers une funeste fuite en avant.</p>

<p>On peut se souvenir que si le <em>segment</em> est tout l’escalier, l’<em>incident</em> est une de ses marches.</p>

<h2 id="rsum">Résumé</h2>

<p>Résumé complet illustrant tous les points.</p>

<pre class="document brut plain">
 &lt;----------------------- Segment --------------------&gt;
 ------------------------------------------------------
|                        ACTE                          |
 ------------------------------------------------------

 &lt;------ Segment ------&gt;   &lt;--------- Segment --------&gt;
 -----------------------   ----------------------------
|        Séquence       | |         Séquence           |
 -----------------------   ----------------------------
 --------   ------------   -----  -------  ------------
|  Scène | |    Scène   | |Scène|| Scène ||   Scène    |
 --------   ------------   -----  -------  ------------
   |_|                      |_|                   |_|
    ^------ Incident         ^------ Incidents ----^</pre>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/320">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/10">→</a></span>
  </div>
  
</div>

