<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/7">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/9">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
</div>

<section id="page_narration-8" class="page_narration">
<h2 class="titre_page">Difficulté de la structure</h2>

<!-- Page: Difficulté de la structure -->

<p>On entend souvent les auteurs parler de leur difficulté à aborder la structure de leur récit, à la définir. En réalité, cette difficulté propre de la structure s’explique très simplement. Si l’on y regarde bien, cette difficulté tient au fait que :</p>

<blockquote>
  <p>La structure convoque, pour s’élaborer,<br />tous les autres éléments de la narration.</p>
</blockquote>

<p>La structure est dépendante des personnages — qui impriment leur marque au contour de chaque intrigue —, elle est dépendante des thèmes et du propos — qui peuvent conduire à des choix métamorphosant la forme attendue, elle est dépendante évidemment des éléments dynamiques, l’objectif et les obstacles. Plus loin encore, elle doit intégrer les notions de <em>rythme</em>, d’<em>enchainement</em> et de <em>progression</em>.</p>

<p>Quand il “suffit” de se concentrer sur le personnage pour développer son objectif, ses motivations et sa caractérisation, quand il “suffit” de se concentrer sur ses thèmes pour voir comment ils se développent au cours de l’histoire, la structure, elle, est dépendante de tous ces éléments et ce de façon <em>simultanée</em>. Elle contraint à une vision d’ensemble, une perception d’ensemble, elle doit tenir compte de toutes les interactions, toutes les influences que chaque élément isolé peut avoir sur tout autre élément isolé, proche ou distant. La structure fait appel à tous ces éléments narratifs, sans exception, et se doit de les agencer harmonieusement et efficacement dans un rythme et dans une progression intéressante.</p>

<p>La tâche, exposée ainsi, pourrait sembler insurmontable, et elle le devient si on l’aborde sans intelligence ni pragmatisme. L’élaboration de la structure exige de l’auteur des capacités de synthèse et en même temps un sens du détail tout à fait remarquables. L’auteur doit avoir une vision d’ensemble extrêmement rigoureuse et précise de son récit, je dirais une vision extrêmement <em>concentrée</em>, qui nécessite si ce n’est une certaine intelligence du moins une certaine habitude, une certaine habilité, une agilité même qui ne s’acquièrent qu’en pratiquant souvent l’écriture et plus particulièrement la conception de récits.</p>

<p>Rien d’étonnant, en conséquence, à ce que la structure représente toujours un passage obligé redoutable et à juste titre redouté.</p>

<p>Pourtant, son élaboration peut  devenir un réel plaisir, lorsque l’on a compris à quoi tenait sa difficulté et lorsqu’on a compris surtout quel moyen puissant elle était d’exprimer <em>de l’émotion</em> et d’exprimer <em>du sens</em>.</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/7">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/9">→</a></span>
  </div>
  
</div>

