<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/8">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/320">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
</div>

<section id="page_narration-9" class="page_narration">
<h2 class="titre_page">Quelle force construit la structure ?</h2>

<!-- Page: Quelle force construit la structure ? -->

<p>La méprise la plus courante concernant l’élaboration de la structure concerne certainement la <em>force</em> qui doit gouverner cette structure. La première erreur que fait l’apprenti-auteur quand il pense à la forme de son histoire est de… <em>réfléchir</em>, d’intellectualiser, de froidement conceptualiser. Il s’évertue à établir des liens logiques reposant sur… la froide et implacable logique. Tout cela semble… logique. Sauf qu’il n’y a pas pire méthode et pire approche pour concevoir une structure forte.</p>

<p>Pourquoi ? Tout simplement parce qu’une structure — c’est-à-dire le parcours d’un personnage de chair et de sang le long d’un récit — s’appuie sur tout, tout excepté la froide logique. La froide logique conduit le protagoniste à prendre de froides décisions très sensées, très logiques, on le voit “décider que…” et puis “penser que…” et enfin “comprendre que…”, donc le contraire de ce que ferait tout un chacun lorsqu’il est pris dans un imbroglio de sentiments et de désirs, lorsqu’il est soumis à des pressions trop fortes, lorsqu’en d’autres termes <em>il vit une histoire, une aventure</em>.</p>

<p>Aussi est-il capital de comprendre avant d’aborder la forme de son récit que :</p>

<blockquote>
  <p>La structure doit naitre de<br />la force de l’émotion et de la nécessité.</p>
</blockquote>

<p>L’<em>émotion</em> et la <em>nécessité</em>. Si la structure doit reposer sur des liens <em>logiques</em>, cette logique doit être une logique éminemment <em>émotionnelle</em> ou une logique du <em>besoin</em>.</p>

<p>Le raisonnement <em>logique</em> qu’il est toujours bon de suivre en concevant sa structure est le suivant : “Mon personnage <em>éprouve</em> cela, ce qui le pousse à… Tel autre personnage <em>ressent</em> cela et il en vient malgré lui à… Les évènements <em>contraignent</em> le méchant de l’histoire à…”, etc.</p>

<p>Dans <a href="filmodico/show/158" class="film"><span class="titre">Thelma &amp; Louise</span> (<span class="realisateur">Ridley Scott</span>, <span class="annee">1991</span>)</a>, c’est l’émotion qui pousse <span class="personnage">Louise</span> à abattre le violeur de <span class="personnage">Thelma</span>. Ce sont les sentiments pour leur enfant qui poussent à agir — parfois jusqu’au meurtre — <span class="personnage">Selma Jezkova</span> dans <a href="filmodico/show/33" class="film"><span class="titre">Dancer in the Dark</span> (<span class="realisateur">Lars Von Trier</span>, <span class="annee">2000</span>)</a>, <span class="personnage">Annie MacLean</span> dans <a href="filmodico/show/62" class="film"><span class="titre">The Horse Whisperer</span> (<span class="titrefr">L’Homme qui murmurait à l’oreille des chevaux</span>, <span class="realisateur">prenom nom</span>, <span class="annee">1998</span>)</a>, <span class="personnage">Bryan Mills</span> dans <a href="filmodico/show/136" class="film"><span class="titre">Taken</span> (<span class="realisateur">prenom nom</span>, <span class="annee">2008</span>)</a>, <span class="personnage">Cristina Peck</span> dans <a href="filmodico/show/4" class="film"><span class="titre">21 Grams</span> (<span class="titrefr">21 Grammes</span>, <span class="realisateur">prenom nom</span>, <span class="annee">2003</span>)</a> ou encore <span class="personnage">Darth Vador</span> dans <a href="filmodico/show/135" class="film"><span class="titre">Star Wars</span> (<span class="realisateur">prenom nom</span>, <span class="annee">1977</span>)</a>. Ce sont les sentiments pour son ami qui poussent <span class="personnage">Bill Munny</span> à retomber dans son côté obscur dans <a href="filmodico/show/179" class="film"><span class="titre">Unforgiven</span> (<span class="titrefr">Impitoyable</span>, <span class="realisateur">prenom nom</span>, <span class="annee">1992</span>)</a>. C’est la volonté d’être aimé — donc la douleur de ne pas l’être — qui poussent à agir <span class="personnage">Cal Trask</span> dans <a href="filmodico/show/42" class="film"><span class="titre">East of Eden</span> (<span class="titrefr">À l’Est d’Eden</span>, <span class="realisateur">prenom nom</span>, <span class="annee">1955</span>)</a>, <span class="personnage">David</span> dans <a href="filmodico/show/8" class="film"><span class="titre">AI, Artificial Intelligence</span> (<span class="realisateur">prenom nom</span>, <span class="annee">2001</span>)</a>. C’est la jalousie qui pousse <span class="personnage">Antonio Salieri</span> dans <a href="filmodico/show/12" class="film"><span class="titre">Amadeus</span> (<span class="realisateur">prenom nom</span>, <span class="annee">1984</span>)</a>. C’est la douleur de voir sa mère d’adoption mourir qui pousse le robot <span class="personnage">Chappie</span> à vouloir se venger dans le film éponyme <a href="filmodico/show/25" class="film"><span class="titre">Chappie</span> (<span class="realisateur">Neill Blomkamp</span>, <span class="annee">2015</span>)</a>.</p>

<p>C’est la nécessité de sauver sa propre vie qui pousse à se battre <span class="personnage">Aron Ralston</span> dans <a href="filmodico/show/1" class="film"><span class="titre">127 Hours</span> (<span class="titrefr">127 Heures</span>, <span class="realisateur">prenom nom</span>, <span class="annee">2010</span>)</a>, <span class="personnage">McGuire</span> dans <a href="filmodico/show/154" class="film"><span class="titre">The Firm</span> (<span class="titrefr">La Firme</span>, <span class="realisateur">Sydney Pollack</span>, <span class="annee">1993</span>)</a>, <span class="personnage">John J. Rambo</span> dans <a href="filmodico/show/50" class="film"><span class="titre">First Blood</span> (<span class="titrefr">Rambo</span>, <span class="realisateur">prenom nom</span>, <span class="annee">1982</span>)</a>, <span class="personnage">Ripley</span> dans <a href="filmodico/show/9" class="film"><span class="titre">Alien</span> (<span class="realisateur">Ridley Scott</span>, <span class="annee">1979</span>)</a>. Dans <a href="filmodico/show/155" class="film"><span class="titre">The Fly</span> (<span class="titrefr">La Mouche</span>, <span class="realisateur">prenom nom</span>, <span class="annee">1986</span>)</a>, c’est la nécessité de ne pas se transformer en bête qui pousse <span class="personnage">Seth Brundle</span> à agir.</p>

<p>On pourrait multiplier les exemples à l’infini en s’intéressant non pas seulement aux intrigues principales mais à chaque temps qui relance l’action de tout récit captivant.</p>

<p>On peut noter que nous avons pris ici des <a href="scenodico/mot/8" class="mot">protagonistes</a>, car c’est effectivement le protagoniste qui, en priorité, façonne la structure de son histoire et la façonne sur la base de ses émotions (à l’exclusion, en général, de ce qui déclenche l’histoire, le protagoniste n’en étant pas toujours le responsable).</p>

<blockquote>
  <p>C’est le protagoniste qui fabrique la structure,<br />sur la base de ses émotions.</p>
</blockquote>

<table>
  <tbody>
    <tr>
      <td>CHECKUP[Dans votre histoire, est-ce bien le protagoniste qui façonne l’histoire sur la base de ses émotions ?</td>
      <td>elaboration]</td>
    </tr>
  </tbody>
</table>

<p>Prenons plus en détail le film <a href="filmodico/show/161" class="film"><span class="titre">The Maze Runner</span> (<span class="titrefr">Le Labyrinthe</span>, <span class="realisateur">Ball Wes</span>, <span class="annee">2014</span>)</a>. Notez que ce film n’a rien de particulier à ce niveau, ce n’est pas un film-exception où il serait exceptionnel de voir un <span class="tt">protagoniste</span> guidé par ses émotions. Mais c’est un excellent exemple dans le sens où l’accent est mis dès la toute première scène sur l’émotion principale du protagoniste : la peur.</p>

<ul>
  <li>La première action de <span class="personnage">Thomas</span>, le protagoniste, quand il sort de son ascenceur, est de se mettre à courir — un acte caractérisant qui n’est pas anodin si l’on sait que <span class="personnage">Thomas</span> appartiendra bientôt à la caste des “coureurs” (les <em>runners</em>). Il a <em>peur</em>, c’est une émotion et elle produit son action : sa fuite. Fuite qui deviendra à partir de là l’obsession principale du personnage, celle qui entrainera toutes ses autres actions par la suite ;</li>
  <li>lorsque <span class="personnage">Minho</span> revient du labyrinthe en portant <span class="personnage">Ben</span> blessé, alors que les portes vont se refermer sur eux, Thomas ne peut résister au désir de leur venir en aide. C’est un acte insensé. C’est son émotion qui le pousse, ça n’est pas la froide raison, mais cela va entrainer le bouleversement radical de l’histoire. Il va réussir ce que personne n’a réussi avant lui : passer une nuit à l’intérieur du labyrinthe sans perdre la vie ;</li>
  <li>au cours de cette nuit justement, c’est <em>la peur</em> qui le conduit à tuer le “Griffeur”, pas une froide volonté, pas une froide raison. Il n’est pas parti dans le labyrinthe l’arme à la main, décidé à se débarrasser de la bête — ce qui aurait ressemblé à une froide décision de l’auteur, pas du personnage. Non, ici, c’est la nécessité — celle de rester en vie — et c’est l’émotion — la peur de mourir — qui gouvernent son action et qui construisent donc la structure. Car le fait qu’il a réussi à tuer un monstre qu’on pensait jusque-là invulnérable va changer la face du monde, la face de <em>leur monde</em> — ce que ne manquera pas de souligner <span class="personnage">Minho</span> dans un de ses dialogues ;</li>
  <li>c’est la certitude de pouvoir trouver la sortie et se libérer — donc la nécessité — qui le pousse à convaincre les “runners” de retourner dans le labyrinthe. On peut même ajouter que Thomas étant claustrophobe — ce qui n’est pas explicitement affirmé mais induit de sa réaction excessive de la toute première scène — la nécessité de sortir est elle-même émotionnelle. La claustrophobie du personnage provoque chez lui des émotions. Une caractéristique qui n’a pas été ajoutée au hasard par les auteurs.</li>
</ul>

<p>Regardez les films sous cet angle, lisez les histoires sous cet angle et vous verrez à quel point ce sont les émotions du personnage, et pas seulement le protagoniste, qui gouvernent la forme, qui plantent les jalons les plus importants de la structure et qui déterminent la progression de l’intrigue jusque dans le détail.</p>

<h4 id="la-ncessit-de-lmotion">La nécessité de l’émotion…</h4>

<p>Mais pour que cela se produise, encore faut-il penser “émotion” lorsque l’on pense “personnage”, ce qu’oublie trop souvent de faire l’apprenti-auteur qui veut à nouveau trop réfléchir. Encore faut-il :</p>

<blockquote>
  <p>Rendre le personnage vulnérable<br />à l’émotion, aux sentiments.</p>
</blockquote>

<table>
  <tbody>
    <tr>
      <td>CHECKUP[Vos personnages sont-ils suffisamment vulnérables pour avoir un impact réel sur la structure ?</td>
      <td>elaboration]</td>
    </tr>
  </tbody>
</table>

<p>Puis le plonger dans des situations où ses émotions — positives ou négatives — seront mises à l’épreuve en exploitant sa vulnérabilité et le conduiront à prendre, très souvent au mépris de la logique ou du bon sens, des décisions qui auront une incidence réelle sur le cours de l’intrigue, une incidence parfois dramatique comme le personnage de <span class="personnage">Rob Hall</span> dans <a href="filmodico/show/188" class="film"><span class="titre">Everest</span> (<span class="realisateur">Baltasar Kormákur</span>, <span class="annee">2015</span>)</a> qui par sympathie pour son ami <span class="personnage">Doug Hansen</span> prendra une décision qui leur coûtera la vie à tous les deux. Donc :</p>

<blockquote>
  <p>Les émotions des personnages doivent les conduire à prendre des décisions qui auront une réelle incidence sur le récit.</p>
</blockquote>

<p>Notons à ce propos que la froide logique, le raisonnement désincarné, s’il fallait les confier à un personnage, ce pourrait être à l’<span class="tt">antagoniste</span>. Et il échoue souvent au moment où, constatant son échec — comprendre : sa froide logique n’est pas parvenue à infléchir le cours du récit —, ses émotions prennent le dessus et posent alors elles aussi leur marque sur la structure.</p>

<p>En conséquence, encore faut-il, pour que l’émotion gouverne la structure, que l’auteur apprenne à <em>écouter ses personnages</em>, à se rendre capable de ressentir leur souffrance comme leur joie, leur déception comme leur enthousiasme, et qu’il parvienne à mettre ces personnages dans des situations où leurs émotions et leurs sentiments pourront s’exprimer pleinement. Comment y réussir en restant sur le mode froid de la <em>réflexion</em> ?…</p>

<p>Si vous faites ce travail d’écoute de vos personnages, vous noterez qu’il arrive souvent que ce personnage n’ait pas envie de faire ce que vous, auteur<%= user.f_e %>, auriez envie qu’il fasse. Tant mieux ! Vous savez alors que vous vous rapprochez de votre histoire, que vous n’êtes plus en train de la violenter, de la forcer à s’écrire. Lorsque vous sentez vos personnages s’exprimer, prendre la parole pour construire la structure, alors seulement vous savez que vous êtes sur la bonne voie.</p>

<p>Nous y reviendrons plus précisément en abordant l’aspect pratique de la construction de la structure et en abordant les personnages dans l’ouvrage qui leur est consacré, rappelez-vous simplement pour le moment que construire cette structure est tout sauf un acte intellectuel, rationnel, froid, désincarné. Rappelez-vous qu’une structure qui ne repose pas sur l’émotion, aussi maligne soit-elle, ne sera jamais une bonne structure. Le public n’attend pas une thèse, un discours inaugural ou un mode d’emploi. Il attend une histoire, cette petite chose insignifiante qui lorsqu’elle est bien menée emporte et remue de l’intérieur. Parce que son ciment le plus solide, c’est la nécessité, le besoin, l’émotion et les sentiments.</p>

<table>
  <tbody>
    <tr>
      <td>CHECKUP[Est-ce bien l’émotion qui en premier lieu conduit la structure de votre récit ?</td>
      <td>elaboration]</td>
    </tr>
  </tbody>
</table>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/8">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/320">→</a></span>
  </div>
  
</div>

