<% 
#
# Page principale de l'administration du blog
#
# Puisque les liens commencent par `admin/blog`, on met en objet_id
# l'id de l'article et en op le partial visé.
# Par exemple :
#       href="admin/blog/12?op=edit"
# … va permettre d'éditer l'article 12 en chargeant le partiel 'edit.erb'
#
%>
<h2>Administration du blog</h2>
