<% 
# Affichage de la fiche du film
%>
<%= header(:small) %>

<%= titre_page(simple_link('filmodico/home', 'Le Filmodico')) %>

<p>Bientôt, ici, sera affichée la fiche du film #<%= site.route.objet_id %></p>

<%= footer %>
