<% 
=begin


Module qui affiche un travail exécuté, avec toutes les informations
nécessaires (début du travail, fin, nombre de points)


=end
%>
<%= header(:small) %>
<%= right_margin %>
<h2 class="small">Programme UN AN UN SCRIPT : historique des travaux</h2>
<p>
[historique du travail relatif #<%= site.route.objet_id %>]
</p>

<%= footer %>
