<% 
=begin

Page principale d'affichage des pages de cours du programme UN AN UN SCRIPT

=end
%>
<%= header(:small) %>
<h2 class="small">Programme Un An Un Script : PAGES DE COURS (hors Narration)</h2>

<p>
[Demande d'affichage de la page de cours #<%= site.route.objet_id %> du work-relatif #<%= param(:wid) %>]
</p>

<%= footer %>
