<% 
=begin

Page principale d'affichage des pages de cours du programme UN AN UN SCRIPT

=end
%>
<%= header(:small) %>
<h2 class="small">Programme Un An Un Script : PAGES DE COURS (hors Narration)</h2>

<%= page.boutons_edition_if_admin %>
<%= page.full_content %>

<%= footer %>
