<% 
# Module pour afficher tous les messages d'un sujet donné
%>
<h2><a href="forum/home">Forum</a> — <%=sujet.data[:titre]%></h2>
<%= Forum.boutons(:top) %>
<%= sujet.encart_data %>
<fieldset>
  <legend>Liste des messages</legend>
  <%= sujet.post_list %>
</fieldset>
