<%
=begin

  Entête customisé des messages mails

  Note : c'est le site qui est bindée à cette vue.

=end
%>
<div id="logo"><%= configuration.titre %></div>
<div id="citation"><%= citation_courante %></div>
<div style="clear:both"></div>
