<h3>Ouverture officielle de la boite</h3>

<p>
  Ça y est ! C'est parti ! Après des mois et des mois d'un dur et acharné labeur, je suis fier et très excité à l'idée d'ouvrir officiellement les portes de “LA BOITE À OUTILS DE L'AUTEUR” !
</p>
<p>
  En survolant rapidement le site, soyez certain<%= user.f_e %> de ne pouvoir vous faire qu'une minuscule idée de la palette des outils utiles qui sont proposés ici, qui représentent plus de 20 ans de recherches et de réflexions sur la narration.
</p>

<p>
  Beaucoup de choses sont encore à faire, une matière importante est encore en cours de correction et d'élaboration, et j'espère vraiment que vous encouragerez les efforts de l'équipe de la Boite.
</p>
<p>
  Comment ? Tout simplement en parlant de la Boite à Outils de l'Auteur autour de vous, peut-être même <%= lien.subscribe('en vous abonnant') %> ou en <em>likant</em> <%= 'sa page Facebook'.in_a(href:"https://www.facebook.com/laboiteaoutilsdelauteur", target: :new) %> !
</p>
