<h3>La mal-aimée de l'écriture</h3>

<p>
On pense à tort que la plus grande mal-aimée de l'écriture est l'orthographe… Mais en réalité, il n'en est rien. La petite chose la plus torturée, la plus malmenée, la plus bafouée, la petite chose victime des plus grands outrages en matière d'écriture, c'est bien plutôt… <strong>la ponctuation</strong>.
</p>

<p class='italic'>Pauvre, pauvre petite ponctuation !…</p>

<p>
  C'est à tort qu'on pense à l'orthographe, car l'orthographe, en vérité, tout le monde s'en préoccupe. Il ne passe pas un jour sans qu'on en parle, de l'orthographe, sans qu'on s'inquiète affectueusement de son état de plus en plus déplorable.
</p>

<p>
Mais la ponctuation, qui s'en soucie ?… :-(
</p>
<p>
  Qui ?… :-(
</p>
<p>
  Personne !… :-(
</p>

<p>
  Au sein même de nos écoles, les professeurs s'en contrefichent outrageusement, qui n'ont d'yeux que pour son aînée l'orthographe. Mes sources ?… Les bulletins scolaires de mes propres enfants… De toute leur scolarité, pas un bulletin qui n'ait bafoué l'usage correct de cette délicieuse et tendre ponctuation qui fait pourtant la beauté des phrases de notre langue.
</p>

<p>
  Tout le monde s'en fout, je vous dis ! :-(
</p>

<p>
Pourtant, il serait si simple de la respecter, un tout petit peu, juste pour lui dire qu'on l'aime, elle aussi… Nonobstant quelques règles délicates comme notre belle langue affectionne de les produire, l'usage de la ponctuation est rudimentaire. Si vous le voulez bien, revoyons rapidement quelques points essentiels.
</p>

<p class='italic'>
  Notez bien que ce qui suit n'est nullement un précis complet de ponctuation. Je ne présente ici que les fautes les plus souvent commises. Googlez « règles de ponctuation » pour découvrir ou revoir toutes les autres règles.
</p>

<p>
  Une bonne chose à se souvenir est qu'il faut toujours une (*) espace insécable (**) avant chaque signe double. Un <em>signe double</em> est un signe composé de 2 éléments séparés, comme le deux-points — composé de 2 points —, le point d'exclamation — composé d'un point et d'un trait vertical —, etc.
</p>

<p class="small">
  (*) “Espace” est féminine en ponctuation.<br/>
  (**) “Insécable” signifie qu'on ne peut pas couper la phrase sur elle. Elle permet de “coller” en quelque sorte l'élément précédent, l'espace et l'élément suivant.
</p>
<style type="text/css">span.insec{background-color:#DDF;border-bottom:2px solid red;}</style>

<p>
  Notez que j'indiquerai l'espace insécable par un fond bleu et un trait rouge<span class='insec'> </span>! Pour produire cette espace insécable :
</p>
<table style="border:1px solid;margin-left:8em">
  <tr>
    <td>
      MAC :
    </td>
    <td>
      ALT + ESPACE
    </td>
  </tr>
  <tr>
    <td>
      PC :
    </td>
    <td>
      CTRL + MAJ + ESPACE
    </td>
  </tr>
</table>

<p>Correct :</p>
<p class='big blue'>
Bonjour<span class='insec'> </span>! :-)
</p>

<p>Incorrect (mais notez que c'est l'usage en anglais) :</p>
<p class='big'>
  Bon<span class='red'>jour!</span> :-(
</p>

<p>Correct :</p>
<p class='big blue'>
Tu m'aimes<span class='insec'> </span>? :-)
</p>

<p>Incorrect (usage en anglais) :</p>
<p class='big'>
  Tu m'ai<span class='red'>mes?</span> :-(
</p>


<p>
À titre de rappel, les signes doubles sont :
</p>

<ul>
<li>le deux-points : « : »,</li>
<li>le point-virgule : « ; »,</li>
<li>le point d'exclamation : « ! »,</li>
<li>le point d'interrogation : « ? »,</li>
<li>le point d'ironie : « ؟ »,</li>
<li>le point exclarrogatif : « ‽ ».</li>
</ul>


<p>
  Ensuite, on place toujours une espace — sécable — avant la parenthèse ouvrante si elle ne débute pas la phrase, et une espace — sécable — <em>après</em> s'il n'y pas de ponctuation (sinon, c'est la règle de la ponctuation qui s'applique) :
</p>

<p>Correct :</p>
<p class='big blue'>
  […] tu peux lui demander mais (si tu y tiens) il faudra qu'elle […] :-)
</p>
<p class='big blue'>
  […] le voir (entre nous, tu pourrais lui demander). Il faudra […]
</p>

<p>
  Passons maintenant aux points de suspension…
</p>
<p><span class='italic'> Oh les pauvres points de suspension !…</span> :-(</p>
<p>
  Ils sont en typographie un <u>unique</u> signe. Ça n'est pas trois points à la suite (c'est d'ailleurs la raison pour laquelle je préfère les appeler <em>le</em> point de suspension, aujourd'hui) :
</p>

<p>
  Correct (sélectionnez à la souris le « … » pour constater qu'il n'y a qu'un seul signe) :
</p>
<p class='big blue'>
    Je t'aime…
</p>
<p>Incorrect :</p>
<p class='big red'>
    <code>Je t'aime...</code>
</p>

<p>
  Pour obtenir le point de suspension correct :
</p>
<table style="border:1px solid;margin-left:8em">
  <tr>
    <td>
      MAC :
    </td>
    <td>
      ALT + ; (point-virgule — touche du point)
    </td>
  </tr>
  <tr>
    <td>
      PC :
    </td>
    <td>
      MAJ + ALT + . (point)
    </td>
  </tr>
</table>

<p>
  Et qu'en est-il des pauvres tirets longs ? (appelés aussi “tirets cadratins”)
</p>
<p>
  Pour commencer, bien souvent, ils sont remplacés par des simples signes “moins”…
</p>
<p>
  Incorrect :
</p>
<p class="big">
    <span class='red'>Oh ! Les - vilains - signes moins ! :-(</span>
</p>
<p>
  Correct :
</p>
<p class='big'>
  <span class="blue">Oh ! Les — beaux — tirets cadratins ! :-)</span>
</p>
<p class='italic'>
  (On pourrait mettre aussi des demi-longs, appelés “demi cadratins”, mais il vaut mieux les réserver aux dialogues)
</p>

<p>Pour obtenir les tirets longs :</p>
<table style="border:1px solid;margin-left:8em">
  <tr>
    <td>
      MAC :
    </td>
    <td>
      ALT + - (moins)
    </td>
  </tr>
  <tr>
    <td>
      PC :
    </td>
    <td>
      ALT + CTRL + - (moins du pavé numérique)
    </td>
  </tr>
</table>


<p>
  Les tirets (longs) à l'intérieur d'une phrase sont toujours entourés d'espaces, sécables à l'extérieur, insécables à l'intérieur. Mais pas d'espace après s'il y a une ponctuation qui n'en veut pas :
</p>

<p>
  Correct :
</p>
<p class='big blue'>

  Le texte avant —<span class='insec'> </span>le texte dedans, tout collé aux tirets grâce aux belles espaces insécables<span class='insec'> </span>— le texte après.<br/><br/>
  […] si elle le veut —<span class='insec'> </span>et elle le voudra<span class='insec'> </span>—, la virgule supprimera l'espace et un point final supprimera même le second tiret —<span class='insec'> </span>n'en déplaise à mamie.

</p>

<p>
  Et pour clore, levons le sort jeté aux guillemets et autres chevrons.
</p>
<p>
  <span class="italic">Oh les pauvres guillemets !…</span> :-(
</p>

<p>
  Pas d'espace intérieur pour des guillemets simples ou doubles :
</p>
<p>
  Correct :
</p>
<p class='big blue'>
  "guillemets doubles", “autres guillemets doubles”.
</p>
<p>Incorrect :</p>
<p class='big red'>
  " guillemets doubles "
</p>
<p>
  En revanche, ces espaces, il les faut à l'intérieur des chevrons et il faut qu'elles soient insécables :
</p>
<p>Correct :</p>
<p class='big blue'>
  […] c'est un «<span class='insec'> </span>texte à l'intérieur collé aux chevrons<span class='insec'> </span>». On les ferme toujours.
</p>
<p>Incorrect :</p>
<p class='big red'>
  De mauvais «chevrons» pas bien utilisés du tout du tout.
</p>


<p>
  Voilà. C'est déjà pas mal, non ?
</p>
<p>
  À partir d'aujourd'hui — allez, disons demain —, vous n'aurez plus d'excuse !
</p>
<p>
  Et vous allez commencer par dire, dans les commentaires ci-dessous, ce que vous ferez, à votre niveau personnel, pour la pauvre ponctuation pas plus tard que demain ! ;-)
</p>

<p>
  Bien à vous !
</p>
<hr>
<p>
  &nbsp;
</p>
<p class='italic'>
  Ben…
</p>
<p>
  &nbsp;
</p>
<p class='italic'>
  Et puis moi alors ?…
</p>
<p>
  &nbsp;
</p>
<p>
  Qui ça, toi ?
</p>
<p class='italic'>
  Ben moi : la virgule ! Pourquoi personne ne s'intéresse à moi ?… :-(
</p>
<p>
  …
</p>
<p class='italic'>
  C'est parce que je ne suis qu'une virgule que tu ne dis rien sur moi ?
</p>
<p>
  Mais non je…
</p>
<p class='italic'>
  Moi aussi, on me maltraite ! moi aussi on me torture ! moi aussi on m'emploie à tort et à travers !
</p>
<p>
  C'est pas faux.
</p>
<p class='italic'>
  Ben oui mais tu ne parles pas de moi, dans ton article… :-(
</p>
<p>
  Promis, la prochaine fois, je te consacre tout un article.
</p>
<p>
   Un article rien que pour toi.
</p>
<p>
  Tu me laisses mettre un point final sans te vexer, maintenant ?
</p>
<p class='italic'>
  OK… Même si j'aurais préféré… une virgule finale.
</p>
<p>
  D'accord, alors exceptionnellement, et juste parce que personne ne viendra jusqu'ici, je termine cet article par une virgule finale.
</p>
<p class='big'>
  Et voilà,
</p>
