<h3>Coup de gueule sur le conflit</h3>
<p>
D'abord, il faut savoir que le terme “conflit” est comme le terme “enjeu”. Ce sont des mots dont les producteurs, directeurs d'écriture et autres décideurs se délectent. “Plus de conflit ! Plus d'enjeux !”… Et les scénaristes, dociles par nature et par nécessité, d'en ajouter à tour de bras, avec la louche plutôt qu'avec la cuillère en bois.
</p>
<p>
Tout irait pour le mieux dans le meilleur des mondes possibles s'il n'y avait totale méprise, en France, sur le sens du terme “conflit”, et sur son application dans la dramaturgie (<em>note : je jetterai un sort dans un prochain article au terme “enjeu” qui connait le même sort, la même sorte de méprise</em>).
</p>
<p>
Lorsque vous demandez à un scénariste TV français d'ajouter du conflit, devinez ce qu'il fait. Il crée… une <em>engueulade entre deux personnages, façon dispute de gaulois</em>… Sérieusement, j'aimerais que ce soit une blague…
</p>
<p>
  Et de voir alors des séries comme “No limit” où les protagonistes passent leur temps à s'engueuler, à s'envoyer des poissons pas frais au visage (<em>note : je parle de “No Limit” parce que j'espérais quand même mieux d'une série au label Europa Corp, mais c'est valable pour tout le reste de notre joyeuse production hexagonale</em>).
</p>
<p>
  Vous remarquerez en passant le phénomène assez étrange qui résulte de cette méprise : les acteurs français franchissent beaucoup plus souvent que les autres le “cercle d'intimité de la personne”. Si l'on s'amusait à faire une moyenne de distance physique entre deux personnages dialoguant, dans les fictions, on obtiendrait pour la France quelque chose comme 50 cm (une distance atteinte très rarement dans la vraie vie) contre le mètre 50 et plus pour les autres pays.
</p>
<p>
En vérité, “conflit” ne signifie pas “conflit armé”, ça ne signifie pas “engueulade”, ça ne signifie même pas “bagarre”. Ça ne signifie rien de tout ça.
</p>
<p>
S'il fallait trouver un synonyme plus évocateur et moins confusionnant au terme “conflit”, il faudrait plutôt le chercher du côté de “souffrance”, “douleur”, “épreuve”.
</p>
<p>
<strong>Le conflit, c'est une souffrance</strong>. Le conflit, c'est la souffrance ressentie par le personnage, ou par le spectateur, ou par les deux, face à une situation conflictuelle.
</p>
<p>
Or, une engueulade, c'est un conflit au sens commun du terme, certes, mais ça n'est pas en soi une situation conflictuelle au sens où l'entend la dramaturgie.
</p>
<p>
Une situation conflictuelle, en matière de narration, c'est une situation où un objectif (qu'on peut appeler un “désir”, un “devoir” ou une “nécessité”) se heurte à un obstacle, c'est-à-dire se heurte à une force qui voudrait l'empêcher — volontairement ou non — de réussir.
</p>
<p>
Et cette situation est d'autant plus conflictuelle que la résolution semble impossible. Or, une engueulade n'impose aucune résolution impossible. Au contraire, le dialogue, même lorsqu'il est violent, est déjà une forme d'arrangement possible, de résilience possible.
</p>
<p>
Un “conflit”, en vérité, c'est un homme, chez lui, qui reçoit un coup de fil lui annonçant que sa femme est sur le point d'accoucher, et qui ne retrouve pas ses clés de voiture pour rejoindre l'hôpital situé à l'autre bout de la ville.
</p>
<p>
Son objectif est de vite rejoindre sa femme, l'obstacle c'est le fait de ne pas trouver ses clés et la distance qui le sépare de l'hôpital, il en résulte du conflit, un souffrance que nous partageons avec le personnage.
</p>
<p>
Le “conflit”, c'est un homme qui apprend que sa fille vient d'être enlevée.
</p>
<p>
L'objectif, c'est de protéger son enfant, l'obstacle, c'est l'enlèvement, il en résulte du conflit.
</p>
<p>
Le “conflit”, c'est un homme déguisé en femme qui voudrait déclarer son amour à la femme qu'il aime.
</p>
<p>
L'objectif est de déclarer son amour, l'obstacle est le déguisement, il en résulte du conflit.
</p>
<p>
Le “conflit”, c'est un jeune homme qui voudrait faire accepter de l'argent à son père lors de son anniversaire, et de voir ce père le refuser en prétendant que cet argent a été volé.
</p>
<p>
L'objectif est d'obtenir la reconnaissance de son père, l'obstacle est le poids du passé et de toutes les bêtises accomplies, il en résulte du conflit.
</p>
<p>
Le “conflit”, c'est deux enfants cachés dans la cuisine d'une cantine alors que deux féroces vélociraptors les traquent.
</p>
<p>
L'objectif est de rester en vie, l'obstacle c'est la possibilité d'être dévoré par deux monstres de la préhistoire, il en résulte du conflit que nous partageons avec les personnages. Que nous partageons même doublement si nous sommes parents.
</p>
<p>
Le “conflit”, c'est un jeune homme qui veut devenir pianiste et qui a un trou de mémoire le jour d'une audition décisive, est incapable de jouer la moindre note.
</p>
<p>
L'objectif est de devenir pianiste, l'obstacle est le trac, il en résulte du conflit.
</p>
<p>
Le “conflit”, c'est de voir Babe, le bout du canon de fusil sur le front, ne pas se douter qu'on s'apprête à le tuer.
</p>
<p>
L'objectif, c'est de rester en vie, l'obstacle c'est le projet de cochon de noël du fermier, il en résulte du conflit. Un double conflit ici, même, puisque nous souffrons aussi de voir le cochon si ignorant du sort qui l'attend. Objectif : que le cochon comprenne, obstacle : sa trop grande naïveté, sa trop grande foi, il en résulte du conflit.
</p>
<p>
Le “conflit”, c'est un flic honnête et droit qui tient en joue un serial-killer qui a tué sa femme, lui a tranché la tête et lui a envoyé dans une boite en carton.
</p>
<p>
L'objectif, c'est rester droit, honnête, faire son métier correctement, dans le respect de la loi, l'obstacle, c'est un assassin dont les meurtres dépassent l'abomination. Il en résulte du conflit.
</p>
<p>
C'est volontairement que je n'ai pas uniquement choisi pour cette très courte énumération des conflits d'anthologie, pour bien montrer que le conflit se cachait partout, et sous une multitude de formes bien différentes de l'engueulade.
</p>
<p>
Même les conflits les plus forts, en tout cas, ne sont jamais des eugueulades. Le vrai “conflit”, ça ne fait souvent pas beaucoup de bruit, c'est souvent très silencieux, ça ne fait pas trop de vague, mais ça vous accroche à la narration de ses deux poings.
</p>
<p>
Aussi serait-il grand temps que les scénaristes TV français le comprennent enfin et cessent de nous bassiner avec leurs engueulades de cuisine, pour que l'on puisse enfin espérer voir notre fiction ressembler à autre chose qu'à un festin gaulois sans intérêt ni consistance. Tout le monde aura à y gagner.
</p>
