<% 
# Pour voir où on en est de la collection Narration
%>
<%= header(:small) %>

<%= Narration.main_titre({subtitle: 'Développement'}) %>

<p>Bientôt ici, l'état du développement de la collection Narration.</p>


<%= footer(:small) %>
