<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top" style="width:660px;">
  
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/2">→</a></span>
  </div>
  
</div>

<div id="page_titre">
  <div class="libelle_titre">Chapitre</div>
  <div class="titre">Introduction à la structure</div>
</div>
