<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/6">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/8">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/7">Généralités</a></span></div>
</div>

<div id="page_titre">
  <div class="libelle_titre">Sous-chapitre</div>
  <div class="titre">Généralités</div>
</div>
