<% 
  # Page d'abonnement au site
%>
<%= header %>
<%= right_margin %>

<h2>Soutenir le site</h2>


<form id="suscribe_form" action="user/suscribe" method="POST">
  
  <input type="hidden" name="operation" id="operation" value="proceed_suscribe" />

</form>
<%= footer %>
