<h3 class="titre_livre"><span class='titre_livre'>Le Travail de l'auteur</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/159">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/6">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/182">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/161">L'Attitude de l'auteur</a></span><span class="schap_titre"><a href="narration/page/160">Grands principes d'écriture</a></span></div>
</div>

<section id="page_narration-276" class="page_narration">
<h2 class="titre_page">Entretenir le chaos</h2>

<!-- Page: #276 Entretenir le chaos -->

<adminonly>
  TODO: Parle de l'*entropie*, qui définit l'état de désordre d'un système.
</adminonly>

<p>L’apprenti-auteur est toujours à la recherche d’une méthode <em>efficace</em>. Très souvent, il manque d’organisation dans son travail et accuse ce manque d’organisation d’être la cause de son incapacité à parvenir à ce qu’il espère. Il recherche la méthode idéale et très souvent se cache sous cette quête la quête de la recette miracle, de la recette qui conduirait en ligne droite au chef-d’œuvre. Et l’organisation, bien entendu, en fait partie, tant les éléments à prendre en compte sont nombreux dans un récit d’une durée moyenne.</p>

<p>Aussi, chaque jour, on voit arriver sur nos tablettes de nouveaux logiciels se proposant d’organiser au mieux le travail de conception d’un récit.</p>

<p>[Faire mieux ressortir l’idée : l’auteur — apprenti ou confirmé — est obsédé par l’organisation].</p>

<p>Or, disons-le tout net :</p>

<p>OU : Or, posons-nous la question : est-ce vraiment une bonne chose de vouloir s’organiser ? N’y a-t-il rien de pire, pour l’imaginaire, pour l’imagination, que l’organisation ? Dans cette grande marmite d’où vont jaillir les idées, faut-il vraiment que les carottes sont parfaitement alignées, les pommes de terre soigneusement coupées, les choux impeccablement nettoyés ?</p>

<p>Je ne le pense pas.</p>

<p>Un maitre-mot :</p>

<blockquote>
  <p>Laisser régner le chaos<br />le plus longtemps possible.</p>
</blockquote>

<p>C’est seulement lorsque le projet devient important, après quelques mois de travail dessus, qu’on peut prendre un temps pour organiser les choses.</p>

<p>Ne pas avoir peur de se laisser dépasser par les évènements [idée de se laisser recouvrir]</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/161">L'Attitude de l'auteur</a></span><span class="schap_titre"><a href="narration/page/160">Grands principes d'écriture</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/159">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/6">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/182">→</a></span>
  </div>
  
</div>

