<%
=begin

  Page de bienvenue

  Explique ce qu'on peut faire depuis cette page.

=end
%>
<h2>Bienvenue !</h2>
<p>Bienvenue sur <%= configuration.titre %>, <%= user.pseudo %> !</p>
<p>Vous pouvez utiliser le menu <%= lien.outils %> ci-contre pour rejoindre la liste des outils.</p>
<p>Vous pouvez également rejoindre votre <%= lien.profil %> en cliquant sur “Auteur” dans le même menu pour régler vos paramètres et notamment la page que vous voulez rejoindre tout de suite après votre identification.</p>
