<%
=begin

  Formulaire pour s'identifier

=end
%>
<h2>S’identifier</h2>

<form id="signin_form" class="w30pc" action="user/signin" method="POST">

  <input type="hidden" name="operation" value="signin">
  <input type="hidden" name="FORMID" value="<%= Form.unique_id %>">

  <div>
    <label>Votre mail</label>
    <span class="field">
      <input tabindex="1" type="text" name="user[mail]" id="user_mail" value="<%= param(:user)[:mail] %>">
    </span>
  </div>

  <div>
    <label>Votre mot de passe</label>
    <span class="field">
      <input type="password" name="user[password]" id="user_password" value="">
    </span>
  </div>

  <div class="buttons">
    <a href="user/signin/oubli" class="tiny fleft orange nodeco">Mot de passe oublié</a>
    <input type="submit" class="main" value="OK">
  </div>
</form>
