<h2>Opération non définie</h2>

<p>Quand :op ou :operation ne définit pas une opération connue.</p>


<p>Désolé, mais les opérations définies par :op ou par :opération n'est pas traité.</p>

<pre>
  param(:op) = <%= param(:op).inspect %>
  param(:operation) = <%= param(:operation).inspect %>
</pre>
