<% 
#
# Page d'arrivée de l'administration de la collection Narration
#
%>
<%= header(:small) %>
<h2 class="small">Administration collection Narration</h2>

<%= partial("./#{param(:op)}/main.erb") %>

<%= footer %>
