fieldset
  legend
    color   : #999

// L'incipit du site
section#incipit
  float           : right
  font-size       : 13pt
  border-bottom   : 1px solid white
  display         : inline-block
  width           : 460px
  text-align      : justify
  padding         : 2em 2em 1em 1em
  img
    float       : left
    margin      : 0 1em 1em 0
    width       : 92px
  a.patronyme
    font-variant  : small-caps
    font-size     : 1.2em

// Coup de projecteur
section#home_spotlight
  float             : right
  display           : inline-block
  width             : 360px
  font-size         : 0.9em
  color             : #e9ff62
  background-color  : $darkBackground
  padding           : 1em
  text-align        : center
  letter-spacing    : 1.3px
  a
    color           : #e9ff62 !important
    font-weight     : bold
    text-decoration : none !important
  div#spotlight_text_before, div#spotlight_text_after
    font-size     : 0.7em


// Dernières actualités
fieldset#last_updates
  font-size   : 13pt
  display     : inline-block
  width       : 22em
  a
    text-decoration : none !important
  div.titre
    font-weight   : bold
  ul.updates
    list-style    : none
    margin        : 0
    li
      text-align  : left
      span
        text-align  : left
      span.date
        margin-right    : 0.5em
        font-size       : 10pt
        color           : #555


fieldset#last_article
  text-align  : justify
  width       : 34em
  h3, div, p, a
    display   : inline !important
    margin    : 0
    color     : inherit !important
  h3
    font-size   : 16pt
    font-weight : bold
  h3:after
    content   : " - "
  a
    text-decoration   : none !important
    font-size : 14.5pt
