<%
=begin

  Accueil du site
  ---------------

  Réfléchir :
    faut-il ajouter les éléments du gabarit ou envoyer simplement un
    code qui sera inséré dans le gabari ?
    Pour le moment, j'opte pour la première solution, ce qui permettra
    de contrôler vraiment tout en place, tout l'assemblage.
=end
%>
<%= header(:home) %>

<p>Bonjour tout le monde !</p>

<p><a href="user/profil">Profil d'utilisateur</a></p>

<p><%= lien.outils(titre: 'outils') %></p>

<%= footer(:home) %>
