<%
debug "-> #{__FILE__}"
# Partiel pour créer un nouveau sujet

  require_form_support

%>
<h2><a href="forum/home">Forum</a> : <a href="forum/sujet/list">sujets</a></h2>
<h3>Nouveau sujet</h3>
<% if user.identified? %>
  <form id="forum_sujet_form" action="forum/sujet/create" method="POST">
    <div>
      <%
          titre =
          case true
      when user.grade < 5 then "Poser une question"
      else "Titre de sujet ou question technique"
      end

    %>
  <label for="sujet_titre"><%= titre %></label>
  <span class="field">
    <input type="text" name="sujet[titre]" id="sujet_titre" value="" />
  </span>
  <div class="explication visible">
    <% if user.grade < 5 %>
      Votre grade ne vous permet que de poser une question (qui devra être validée).
    <% elsif user.grade < 7 %>
      Votre grade vous permet de créer un sujet, mais il devra être validé avant de pouvoir être diffusé.
    <% else %>
      Votre grade est suffisant pour initier un nouveau sujet ou poser une question technique sans validation requise.
    <% end  %>
  </div>
    </div>

    <div>
      <label for="sujet_first_post">Premier message</label>
      <span class="field">
        <textarea name="sujet[first_post]" id="sujet_first_post" rows="4"></textarea>
      </span>
      <div class="explication">
        Merci de préciser votre question ou votre sujet en composant le premier message qui sera affiché.
      </div>
    </div>
    <%
        # Si le grade de l'utilisateur est au moins de 5, il peut définir le
      # type s de son sujet.
      if user.grade > 4
    %>
  <div>
    <label for="sujet_type_s">Type du sujet</label>
    <span class="field">
      <%= Form.build_select(id: 'sujet_type_s', name: 'sujet[type_s]', values: Forum::Sujet::TYPES_S) %>
    </span>
  </div>

<% else %>
  <input type="hidden" name="sujet[type_s]" id="sujet_type_s" value="1" />
<% end %>
<div class="buttons">
    <input type="submit" class="main btn" value="Créer" />
  </div>
</form>



<% 
  else # Quand le visiteur n'est pas identifié
%>
  <p class="cadre air">Pour pouvoir poser une question ou initier un nouveau sujet, vous devez être inscrit(e) sur le site (<%= simple_link("user/signup", 'inscription gratuite', 'exergue') %>).</p>

<% end  %>
