<% 
    # Page de contact
  #
  # Elle peut être atteinte de différente manière :
  #
  # - par un simple visiteur pour écrire à l'administration
  # - par un inscrit pour écrire à l'administration
  # - par un inscrit pour écrire à un autre inscrit (qui le permet)
  # - par l'administration pour écrire à n'importe quel inscrit
  #
%>
<%= header %>

<%= titre_page('Contact') %>

<p>[Bientôt, ici, le formulaire de contact]</p>

<%= footer %>
