<%= # noter qu'on renvoie le texte

# encoding: utf-8
#
# Partiel appelé lorsque le visiteur (inscrit) veut candidater pour les
# analyses de film.
# Une demande est envoyée aux administrateurs.
#
user.identified? || require_identification

case
when user.analyste?
  "<p>Voyons, vous êtes déjà analyste.</p>"
when user.data[:options][16] == '1'
  "<p>Vous avez déjà transmis une demande de participation. Elle est sûrement à l'étude.</p>"
when user.data[:options][16] == '2'
  "<p class=\"red\">Vous ne pouvez plus faire de demande de participation, vous avez été rejeté#{user.f_e}.</p>"
else
  require_lib('site:mails_admins')
  opts = user.data[:options].ljust(17,'0')
  opts[16] = '1'
  user.set(options: opts)
  lien_dashboard = simple_link("http://#{site.configuration.url_online}/admin/analyse", 'bureau d’administration des analyses')
  mess = <<-HTML
  <p>Ch\<%=f_ere%\> administrat\<%=f_rice%\>,</p>
  <p>Je vous fais part de la demande de participation aux analyses de films de #{user.pseudo} (##{user.id}).</p>
  <p>Pour <strong>valider cette demande</strong>, il faut rejoindre le #{lien_dashboard}.</p>
  <p>Merci de votre attention.</p>
  HTML
  data_mail = {
    subject: "Demande de participation aux analyses de films",
    formated: true,
    message:  mess 
  }
  site.mail_to_admins(data_mail)
  <<-HTML
  <p class="notice cadre" style="width:80%;">Votre demande a été transmise. Les administrateurs du site y répondront dans les plus brefs délais.<br><br>Un grand merci à vous.</p>
  <p>En attendant, vous pourriez par exemple <a href="aide?p=analyse/contribuer" class="exergue">consulter l'aide</a> pour en apprendre plus sur les possibilités de participation.</p>
  HTML
end

%>
