<%

env_mod = :sandbox # pour le moment
montant = '0.01'

%>
<!DOCTYPE html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>
    <div id="paypal-button-container"></div>

    <script>
        paypal.Button.render({

            env: '<%= env_mod == :sandbox ? 'sandbox' : 'production' %>',

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox:    'AVD1tNbTllItceD9EQHGU6OjosHCl8H6ieEuxlfvPIAd4MizmAbcXc9JaX424GlHOG5MQsAHearTbjd7',
                production: 'AZk-aOh_NSK4FW4KsT8yYsNMt025NiyF638PF79-zuSrbkPyGTYuRJGhyAptKQJAuGPAXZkxcpVKwrjl'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {

                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '<%= montant %>', currency: 'EUR' }
                            }
                        ]
                    }
                });
            },

            // Called when the buyer approves the payment
            onAuthorize: function(data, actions) {
                // Make a call to the REST api to execute the payment
                return actions.payment.execute()
                .then(function() {
                  // Paiement accepté => Redirection
                  window.location.href = 'unanunscript/signup/1'
                });
            }

        }, '#paypal-button-container');

    </script>
</body>
