<%
=begin

=end
%>
<h2>Inscription réussie !</h2>

<p>Bravo à vous, <%= user.pseudo %>, vous êtes maintenant inscrit<%= user.f_e %> au programme UN AN UN SCRIPT&nbsp;!</p>

<h3>Que faire maintenant ?</h3>

<p>Dès à présent, vous pouvez :
  <ul>
    <li>rejoindre <a href="unanunscript/bureau">le bureau de votre programme</a> pour y trouver vos premiers travaux,</li>
    <li>consulter <a href="unanunscript/aide">l’aide du programme</a> pour en savoir un peu plus sur ce programme et son fonctionnement.</li>
  </ul>
</p>

<p>Bon courage pour ce programme !</p>

<p style="font-size:0.75em">
  <div>Informations sur le programme</div>
  <div>ID Programme : #<%= user.program_id %> | ID Projet : #<%= user.projet_id %></div>
</p>
