<%
=begin

=end
%>
<h2>Paiement effectué</h2>
<p>Merci, <%= user.pseudo %>, d'avoir effectué votre paiement.</p>
<p>Bon courage pour votre programme !</p>
<%
=begin

TODO Ici, plein de choses à faire, comme lui envoyer des mails de
confirmation et le manuel.

TODO Enregistrement du paiement dans la base
TODO Création d'un program dans la base
TODO Création d'un projet dans la base

=end
%>
