<%
=begin

=end
%>
<h2>Inscription réussie !</h2>

<p>Bravo à vous, <%= user.pseudo %>, vous êtes maintenant inscrit<%= user.f_e %> au programme UN AN UN SCRIPT&nbsp;!</p>

<p>Bon courage pour ce programme !</p>

<p style="font-size:0.75em">
  <div>Informations sur le programme</div>
  <div>ID Programme : #<%= user.program_id %> | ID Projet : #<%= user.projet_id %></div>
</p>
