<section id="left_margin">
  <ul>
    <li>[MENU 1 DE MARGE GAUCHE]</li>
    <li>[MENU 2 DE MARGE GAUCHE]</li>
    <li>[MENU 3 DE MARGE GAUCHE]</li>
    <li>[MENU 4 DE MARGE GAUCHE]</li>
    <li>[MENU 5 DE MARGE GAUCHE]</li>
  </ul>
</section>
