<%
=begin

  Page d'accueil de l'administration du site.

=end

%>
<%= header %>

<h2>Administration du site</h2>

<p>Bienvenue dans le tableau de bord du site, <%= user.pseudo %>.</p>

<p><a href="admin/spotlight">Coup de projecteur</a></p>
<p><a href="admin/scenodico?op=edit_mot">Nouveau mot Scénodico</a></p>
<p><a href="admin/narration?op=edit_page">Nouvelle page Narration</a></p>

<%= footer %>
