<%
=begin

  L'entête de page
  ----------------
  Version de la page d'accueil

=end
%>
<section id="header">
  <%= titre_in_logo %>
  <p>Version header de la page d'accueil.</p>
</section>
<section id="contents">
