<%
=begin

  L'entête de page
  ----------------
  Il existe trois version de l'entête :

    home        L'entête pour la page d'accueil
    full        L'entête complet pour la plupart des pages
    small       Pour un entête réduit

=end
%>
<section id="header" class="regular"><%= logo %></section>
<section id="contents">
