section#header
  font-size         : 1.1em
  background-color  : white
  border-radius     : 1em 1em 0 0

  h1
    padding           : 1.3em
    margin            : 0
    a
      color         : $darkTextColor
      padding       : 0.4em 1em
      border        : 2px solid
      border-radius : 1em
      display       : inline-block
