section#header
  font-size         : 1.1em
  background-color  : white
  border-radius     : 1em 1em 0 0

  // La barre des boutons
  div#top_buttons
    position        : absolute
    margin-left     : 26em
    a
      font-size     : 13.7pt
      margin-left   : 2em
      font-variant  : small-caps

  // Le titre du site
  h1
    position          : relative
    display           : inline-block // sinon passe au-dessus de liens
    color             : $darkTextColor
    font-variant      : small-caps
    a
      display       : inline-block
      color         : #7f869e
      font-variant  : small-caps
      border-style  : solid
      border-color  : orange
      // padding-bottom  : 6px

  // Pour une page quelconque
  &.regular
    h1
      padding           : 0.2em
      padding-bottom    : 1em
      padding           : 0em 1em
      margin            : 0.2em 0 2em 0.2em
      a
        border-width      : 0 0 2px 0
    div#top_buttons
      margin-top        : 1.3em

  // Pour une petite entête
  &.small
    padding-bottom      : 2em
    h1
      font-size         : 0.8em
      margin            : 8px
      padding           : 3px 23px
      a
        border-width      : 0 0 1px 0
    div#top_buttons
      margin-left       : 14em
      margin-top        : 0.7em

  // Pour la page d'accueil
  &.home
    h1
      // seul la version HOME du log possède une bordure
      border            : 2px solid
      border-radius     : 0.5em
      padding           : 0.8em
      margin            : 1.4em 0 2em 2em
      border-radius     : 1em

      a
        border-width  : 0 0 7px 0

    div#top_buttons
      margin-top      : 5.4em
