<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top" style="width:660px;">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/5">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/7">→</a></span>
  </div>
        <div class="under_next_prev_links">
        <span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/2">Prologue</a></span>
      </div>

</div>

<h3 class="titre_page">Choix des films</h3>
<section id="page_narration-6" class="page_narration">

<!-- Page: #6 Choix des films -->

<p>Faire le choix des films qui serviront d’exemples, lorsque l’on aborde un sujet de dramaturgie, est toujours une tâche délicate. Elle revêt inévitablement une forme de partialité. Pour me guider dans ce choix, j’ai voulu privilégier aussi bien des films qui répondaient parfaitement aux repères proposés dans cet ouvrage que des films qui s’en écartaient parfois de façon radicale.</p>

<p>Car mon souci est double ici, comme dans toute la collection : d’une part démontrer la pertinence des notions abordées — et notamment dans cet ouvrage la validité du modèle structurel proposé —  et d’autre part montrer la richesse et la souplesse de l’œuvre artistique quelle qu’elle soit, qui est capable d’inventer ses propres règles au mépris de tout canon esthétique.</p>

<p>Pour me guider aussi, j’ai voulu choisir des films de toutes provenances, proches ou lointains dans le temps comme dans l’espace. Ainsi, de nombreuses époques sont représentées, sans prédilection, de nombreuses nationalités aussi, même si la part belle est faite aux films américains qui de par leur quantité et leurs qualités restent une source riche et incontournable.</p>

<h4 id="les-films--voir">Les Films à voir</h4>

<p>Pour profiter pleinement de cet ouvrage, il est vivement recommandé de visionner les films les plus souvent cités en illustration. On en trouvera la liste précise en annexe de l’ouvrage<!-- TODO: Référence à l'annexe -->.</p>

<h4 id="spoileurs-divulgacheurs">Spoileurs (divulgacheurs…)</h4>

<p>Noter que seront commis dans cet ouvrage comme dans toute la collection de nombreux <em>spoileurs</em> inévitables car indispensables aux illustrations et aux démonstrations.</p>

<p>On espère seulement que la plupart des films auront été vus et que la multiplication des exemples empêchera de se souvenir de telle ou telle information importante le moment venu de découvrir le film.</p>
</section>
<div class="liens_next_previous_pages bottom" style="width:660px;">
        <div class="under_next_prev_links">
        <span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/2">Prologue</a></span>
      </div>

  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/5">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/7">→</a></span>
  </div>
  
</div>

