
<!-- Page : #3 La Structure, qu'est-ce que c'est ? -->

<p>Le terme “Structure”, tel que je l’entends dans cet ouvrage, revêt les aspects et sens suivants :</p>

<ul>
  <li>elle concerne la <a href="scenodico/show/228" class="mot">forme</a> très générale du récit, son plan général, ce que j’appellerai plus tard <em>les fondements</em> ou <em>les fondations</em> du <a href="scenodico/show/190" class="mot">récit</a> ;</li>
  <li>elle concerne les éléments qui soutiennent le récit sans être pour autant apparents, à l’instar des murs portants ou de la charpente d’une bâtisse ;</li>
  <li>elle concerne la façon dont sont organisés tous les éléments qui constituent le système complexe qu’est un récit ;</li>
  <li>elle concerne enfin l’agencement des <a href="scenodico/show/158" class="mot">évènements</a> — à commencer par les <a href="scenodico/show/121" class="mot">scènes</a> — dans une chronologie ;</li>
  <li>la structure, c’est enfin le <em>rythme</em> produit par cet agencement des évènements.</li>
</ul>
