<%
=begin

  Pour voir le profil de l'utilisateur

=end
%>
<%= header(:small) %>
<%= right_margin %>

<h2>Votre profil</h2>

<%=
  if user.identified?
    partial('partial/profil')
  else
    partial('partial/no-profil')
  end
%>

<%= footer(:small) %>
