<% 
  # 
# Mail annonçant à l'administrateur le nouvel abonnement.
%>
<p>Phil,</p>
<p>Je t'informe d’un nouvel abonnement sur le BOA.</p>
<p>Informations : 
<div>Pseudo : <%= user.pseudo %></div>
<div>ID : #<%= user.id %></div>
<div>Mail : <%= user.mail %></div>
</p>
