<%
=begin

  Section de débug
  ----------------
=end
oid =
  if site.route.objet_id
    "#{site.route.objet_id} (#{site.route.objet_id.class})"
  else
    '- non défini -'
  end
%>
<section id="debug">
site.route.objet    : <%= site.route.objet    || '- non défini  -' %>
site.route.method   : <%= site.route.method   || '- non définie -' %>
site.route.objet_id : <%= oid %>

<%= Debug.output %>
</section>
