<% 
# Leçons tirées des films
%>
<h3>Leçons tirées des films</h3>

<p class="explication">Cette page présente la liste des films qui font l'objet d'un “leçon tirée d’un film”. Cette “leçon” concerne un point particulier de la narration qui peut servir d'exemple ou d'illustration éclairante.</p>
