<%
=begin

  Le pied de page
  ---------------
  Version de la page d'accueil

=end
%>
</section>
<section id="footer">
  <p>Le pied de la page de la page d'accueil</p>
</section>
<%= sections_messages %>
