<%
=begin

  Confirmation de l'inscription de l'user
=end
%>
<p>Bravo, <%= user.pseudo %>&nbsp;! Vous vous êtes inscrit<%= user.f_e %> avec succès&nbsp;!</p>

<p><span class="red">ATTENTION</span> : il vous reste à valider votre mail à l'aide du message qui vous a été envoyé dans votre gestionnaire de mail, à l'adresse <%= user.mail %>.</p>
