<%
=begin

  Confirmation de l'inscription de l'user
  ---------------------------------------

  Attention : cette page ne sera pas affichée lorsque l'user veut s'inscrire
  au programme UN AN UN SCRIPT puisqu'au lieu de venir ici il sera redirigé
  vers le formulaire PayPal.
  Donc, s'il y a des choses importantes à faire, il faut les envoyer par
  mail.
  
=end
%>
<p>Bravo, <%= user.pseudo %>&nbsp;! Vous vous êtes inscrit<%= user.f_e %> avec succès&nbsp;!</p>

<p><span class="red">ATTENTION</span> : il vous reste à valider votre mail à l'aide du message qui vous a été envoyé dans votre gestionnaire de mail, à l'adresse <%= user.mail %>.</p>
