// On supprime la décoration des liens partout
//fieldset, div.forum_boutons
section#contents *
  a
    text-decoration : none!important


div.forum_boutons
  text-align      : right
  &.top
    margin-bottom   : 1em
    font-size       : 0.85em
  &.bottom
    margin-top      : 2em


nav.nav_boutons, div.boutons
  text-align    : right
  a
    font-size     : .85em
    font-family   : Helvetica
    margin-left   : 1em
  &.top
    margin-bottom   : 2em
  &.bottom
    margin-top      : 2em
