// On supprime la décoration des liens partout
//fieldset, div.forum_boutons
section#contents *
  a
    text-decoration : none!important


div.forum_boutons
  text-align      : right
  font-size       : 0.85em
  &.top
    margin-bottom   : 1em
  &.bottom
    margin-top      : 2em


nav.nav_boutons, div.boutons
  text-align    : right
  a
    font-size     : .85em
    font-family   : Helvetica
    margin-left   : 1em
  &.top
    margin-bottom   : 2em
  &.bottom
    margin-top      : 2em

// Tous les libellés
span.libelle
  color         : #999
  font-size     : .75em
  //  font-style    : italic
  margin-right  : .3em
  margin-left   : 2em


// Un div contenant les données d'un sujet
div.sujet
  margin-bottom   : 1em
  border-bottom   : 1px solid #AAA
  border-top      : 1px solid #AAA
  padding         : 8px 1em
  .titre
    font-weight     : bold
    font-size       : 1.375em
  .last_message
    margin        : .4em 0
  .infos_sujet
    text-align    : right
    font-size     : .75em

.date
  font-size   : 0.85em

div.user_card
  float             : left
  width             : 250px
  font-size         : 13.2pt!important
  border-radius     : .5em
  background-color  : #DAE4E3
  color             : black
  padding           : 1.2em
  margin            : 2.8em 1em 1em 0
  > div
    margin-bottom   : .4em
  .libelle
    font-size : 13pt
    margin-left : 0
    &:not(.noblock)
      display     : inline-block
      width       : 86px
  > .pseudo
    display     : block
    font-size   : 1.4em!important
    font-weight : bold
    margin-bottom : .5em
  span.fame
    font-weight     : bold
    letter-spacing  : 1px
    &.bon
      color : green
    &.bad
      color : red

div.post
  margin-bottom   : 6em
  div.post_header, div.post_footer
    background-color    : #DAE4E3
    text-align          : right
    padding             : 4px 1em
    font-size           : .85em
  div.post_footer
    clear   : both
    span.post_date
      float     : left
    > span
      margin-right    : 1.1em
  // Le contenu du message, son texte
  div.content
    padding   : 2em

  span.post_upvotes, .post_downvotes
    font-weight : bold
  span.post_upvotes
    color   : green
  span.post_votes_down
    margin-left   : 1.1em
    span.post_downvotes
      color   : red
