<%
=begin

  Les boutons du bandeau supérieur

=end
%>
<div id="top_buttons">
  <%=
    if user.identified?
      lien_signout(titre:'se déconnecter')
    else
      signin_btn = site.uri.start_with?('user/signin') ? '' : button_signin
      <<-HTML
      #{lien.signup(titre:'s’inscrire')}#{signin_btn}
      HTML
    end
    %>
  <% if user.admin?  %>
    <a href="admin">administration</a>
  <% end  %>
</div>
