<div class="liens_next_previous_pages top">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    
  </div>
</div>

<section id="unan_page_cours-3" class="page_cours">
<h2 class="titre_page">Recherche et choix de l'histoire</h2>

<!-- #3 Recherche et choix de l'histoire -->

<h3 id="premire-phase-de-travail">Première phase de travail</h3>

<p>La première grande phase de travail sur le programme “Un An Un Script” va consister à déterminer l’histoire que vous allez développer pendant l’année du programme.</p>

<p>Afin de ne pas partir tête baissée dans une histoire, au hasard, sans assurance, sans garde-fou, il est préférable de bien peser les choses et les idées, et de choisir l’histoire qui présente le meilleur potentiel.</p>

<p>C’est ce que nous allons faire pendant une trentaine de jours-programme (donc une trentaine de jours si vous êtes en rythme moyen).</p>

<h3 id="se-donner-le-choix">Se donner le choix</h3>

<p>La première chose à faire est de se donner le choix. C’est-à-dire, concrètement, d’avoir à sa disposition plusieurs histoires afin de choisir celle qui sera le plus susceptible d’être menée à terme.</p>

<p>L’idéal serait d’obtenir, au cours de ce premier mois de travail, une petite dizaine de sujets différents ou proches parmi lesquels retenir le récit final. Rassurez-vous, <%= user.pseudo %>, il ne s’agit pas de développer complètement 10 récits différents, mais seulement de les esquisser, en quelques lignes, et de les estimer à l’aide des outils qui seront proposés afin de choisir le meilleur.</p>

<p>Concrètement parlant, puisque vous découvrirez que nous aimons être concret, il va s’agir de jeter sur le papier une esquisse d’histoire tous les trois <em>jours-programme</em> (donc tous les trois jours si vous êtes en rythme moyen).</p>

<h3 id="dvelopper-sa-crativit">Développer sa créativité</h3>

<p>Noter que cette première phase de travail vise également à libérer votre créativité et entrainer ce muscle indispensable à la création qu’est l’imaginaire.</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    <div class="buttons boutons_marquages right"><a href="unanunscript/page_cours/3?wid=<%= param(:wid) %>&op=set_aside" class="medium btn">Mettre la page de côté</a><a href="unanunscript/bureau/pages?op=done_work&wid=<%=param(:wid)%>" class="medium btn main">Marquer la page lue</a></div>
  </div>
</div>

