<div class="liens_next_previous_pages top">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    
  </div>
</div>

<section id="unan_page_cours-43" class="page_cours">
<h2 class="titre_page">Présentation de la séquence de brainstorming</h2>

<!-- #43 Présentation de la séquence de brainstorming -->

<p>Dès le jour-programme prochain (demain si vous êtes en rythme normal), nous allons attaquer une <strong>phase de brainstorming de 28 jours</strong>.</p>

<p>Au cours de ces vingt-huit jours, nous allons commencer à travailler sur la <a href="narration/page/230" class="page">spirale de développement du projet</a> dans <a href="narration/livre/6" class="livre">Le Travail de l’auteur</a>, c’est-à-dire, concrètement, sur un ensemble de documents que nous travaillerons de plus en plus précisément pour parvenir à dégager le projet et le définir le mieux possible.</p>

<p>Au cours de cette phase de brainstorming, les maitres-mots seront “ouverture maximum”, “recherche tous azimuts”, “tout essayer”.</p>

<p>Il ne s’agit pas de se bloquer dans cette première phase du projet mais au contraire d’essayer de l’ouvrir le plus possible, du mieux qu’on peut. Cela consiste à essayer de ne pas avoir une seule option, mais plusieurs pour tous les éléments que nous allons développer.</p>

<p>Les documents que nous allons travailler au cours de ces premières boucles sont les suivants. Ce sont les documents qu’on travaillera jusqu’à la définition précise du projet :</p>

<ul>
  <li><strong>Structure</strong>. Comme son nom l’indique, ce document, ou plutôt <em>ses</em> documents serviront à mettre en place la structure du récit ;</li>
  <li><strong>Personnages</strong>. Là aussi, plusieurs documents permettront de définir les personnages du récit ;</li>
  <li><strong>Dynamique</strong>. Si vous avez bien suivi les cours, vous savez d’ores et déjà que la dynamique concerne les objectifs, les obstacles et autres conflits ;</li>
  <li><strong>Thématique</strong>. Les documents ”thématique” permettront de travailler cet aspect-là du récit, un aspect souvent négligé et pourtant tellement riche et important, et porteur de nombreuses idées ;</li>
  <li><strong>Recherches et documentations</strong>. C’est la partie importante qui concernera toutes les recherches qu’il faudra mener pour bien connaitre son sujet, ou plus exactement <em>ses</em> sujets, ceux développés dans l’histoire ;</li>
  <li><strong>Analyse</strong>. Pour que l’enseignement soit profitable, une partie du travail sera consacrée à l’analyse de films, d’extraits, si possible en lien avec le projet développé ;</li>
  <li>Un des six précédents en fonction des besoins propres. Ce septième document sera choisi parmi les six autres, en fonction du moment où il sera travaillé — c’est le programme qui le déterminera alors — ou en fonction de vos propres besoins — ce sera à vous, alors, de le déterminer.</li>
</ul>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    <div class="buttons boutons_marquages right"><a href="unanunscript/page_cours/43?wid=<%= param(:wid) %>&op=set_aside" class="medium btn">Mettre la page de côté</a><a href="unanunscript/bureau/pages?op=done_work&wid=<%=param(:wid)%>" class="medium btn main">Marquer la page lue</a></div>
  </div>
</div>

