<div class="liens_next_previous_pages top">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    
  </div>
</div>

<section id="unan_page_cours-45" class="page_cours">
<h2 class="titre_page">Première esquisse des thèmes</h2>

<!-- #45 Première esquisse des thèmes -->

<h3 id="liste-des-thmes">Liste des thèmes</h3>

<p>Normalement, vous avez dû procéder à une première liste des thèmes abordés dans votre histoire au cours du premier travail de documentation.</p>

<p>Peut-être, au cours de ces derniers jours, avez-vous pensé à d’autres thèmes. Vous pouvez donc les ajouter à votre liste.</p>

<p><span class="red">ATTENTION</span></p>

<p>Notez qu’il s’agit bien ici de <em>thèmes</em> et non pas, comme c’était le cas pour la documentation, de <em>sujets</em> divers et variés qui pouvaient même concerner les métiers ou les hobbies des personnages. Nous parlons bien de thème, nous sommes dans la partie “thématique” de l’histoire.</p>

<p>Notez que même le film d’action le plus pur et dur développe des thèmes. La fraternité, le full-contact, le dépassement de soi, les voitures, l’environnement, les armes et bien d’autres par exemple. N’entendez donc pas <em>thème</em> au sens de <em>thème philosophique</em>, ça n’a rien à voir en vérité.</p>

<h3 id="distinction-entre-thme-abstrait-et-thme-concret">Distinction entre thème abstrait et thème concret</h3>

<p>Dans un premier temps, il va s’agir d’essayer de bien distinguer les thèmes <em>concrets</em> des thèmes <em>abstraits</em>. Ne réfléchissez pas trop loin à ces deux notions, on s’y perd très vite et, à trop y réfléchir, un thème concret devient très vite abstrait et inversement. Non, voyez plutôt comment vous vous en servez ou comment il est considéré dans l’histoire qui se dessine.</p>

<p>Car en vérité, ce n’est pas le thème en lui-même qui définit sa nature, <strong>c’est l’utilisation que vous en faite dans le récit</strong> (même si cette utilisation n’est pas encore très développée aujourd’hui). Imaginons deux personnages parlant de médecine sur une île. Puisqu’ils ne font qu’en <em>parler</em>, ça restera quelque chose d’abstrait, quand bien même ils raconteraient des histoires vécues. À l’inverse, si l’on se trouve au cœur d’un hôpital et que l’on suit le travail des infirmières, des chirurgiens, alors “la médecine” agit bien comme un thème <em>concret</em> dans l’histoire, quand bien même les protagonistes passeraient leur temps à philosopher sur leur métier (en fait, ici, le thème aurait une double nature, concret <em>et</em> abstrait).</p>

<h3 id="premier-dgrossissage-des-thmes">Premier dégrossissage des thèmes</h3>

<p>Dans ce premier document consacré aux thèmes, il va s’agir de faire un premier “dégrossissage” de chacun des thèmes qui se sont dégagés.</p>

<p>Vous allez commencer par écrire, <u>pour chaque thème</u>, 1/ ce que vous connaissez ou savez de ces thèmes, 2/ ce que vous voulez dire ou aimeriez dire de ces thèmes et 3/ comment vous voulez vous en servir concrètement dans l’histoire, même s’il s’agit de thèmes <em>abstraits</em> (dans notre histoire ci-dessus avec les deux personnages parlant de médecine sur une île, peut-être que la fonction de ce thème est de les faire sympathiser, alors qu’ils se détestaient avant : ils se découvrent, avec ce thème abstrait de la médecine, un <em>terrain d’entente</em> qui va leur permettre de vivre en meilleure intelligence sur leur île et peut-être même, qui sait, de devenir bons amis).</p>

<p><span class="red">ATTENTION</span></p>

<p>Rappelez-vous : il ne s’agit encore que d’un travail de brainstorming, de recherche, d’ouverture, il ne s’agit pas d’écrire une thèse rigoureuse. Laissez-vous porter par votre liste, par chacun de ses items, et voyez ce que votre inconscient vous livre — ou pas — comme piste. Écrivez par association d’idée, sans vous soucier de la qualité ni de vos réflexions ni de votre rédaction. Un seul mot d’ordre : se mettre en bonne position pour commencer à apprivoiser vos thèmes.</p>

<p><span class="blue">NOTE</span></p>

<p>Bien sûr, vous pouvez écrire proportionnellement à l’importance présumé du thème dans l’histoire : plus (+) ce thème semble avoir d’importance dans l’histoire et plus (+) vous pouvez en parler dans ce premier document.</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    <div class="buttons boutons_marquages right"><a href="unanunscript/page_cours/45?wid=<%= param(:wid) %>&op=set_aside" class="medium btn">Mettre la page de côté</a><a href="unanunscript/bureau/pages?op=done_work&wid=<%=param(:wid)%>" class="medium btn main">Marquer la page lue</a></div>
  </div>
</div>

