<div class="liens_next_previous_pages top">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    
  </div>
</div>

<section id="unan_page_cours-46" class="page_cours">
<h2 class="titre_page">Première analyse de film</h2>

<!-- #46 Première analyse de film -->

<p>Cette première analyse de film au sein du programme va consister à regarder un film et l’analyser dans les deux prochains jours (vous pourrez bien entendu poursuivre si le cœur vous en dit, tout en continuant de travailler votre projet).</p>

<h3 id="droul-gnral-de-lanalyse">Déroulé général de l’analyse</h3>

<p>En deux jours, on ne peut pas faire de miracle, on peut cependant parvenir à une première approche satisfaisante.</p>

<p>Voilà le déroulé du travail à fournir :</p>

<ul>
  <li><strong>choisir le film</strong>. Ne prenez pas trop de temps, et si vous vous sentez un peu fragile au niveau de l’analyse, n’hésitez pas à prendre un film que vous connaissez déjà.</li>
  <li><strong>visionner le film</strong>. Même si vous l’avez déjà vu, une petite piqûre de rappel ne peut pas faire de mal, donc revoyez-le avec plaisir. Bien entendu : <u>dans sa langue originale</u> (vous devez <u>toujours</u> voir les films dans leur langue originale, au risque de passer à côté de beaucoup de choses, à commencer par le sens)</li>
  <li><strong>amorcer le travail d’analyse</strong>. Ce travail sera détaillé plus bas,</li>
  <li><strong>revoir le film tout en poursuivant le travail</strong>,</li>
  <li><strong>affiner le travail et conclure</strong>.</li>
</ul>

<h3 id="rsultat-de-lanalyse">Résultat de l’analyse</h3>

<p>Étant donné que vous n’avez que deux jours pour élaborer cette analyse, elle devra se limiter à trois points généraux :</p>

<ul>
  <li>les Fondamentales du film,</li>
  <li>la structure générale,</li>
  <li>les personnages principaux.</li>
</ul>

<p>Pour les fondamentales, vous pourrez vous inspirer de ce qui est présenté dans la collection Narration (<a href="narration/page/128" class="page">chapitre sur les Fondamentales</a> dans <a href="narration/livre/8" class="livre">Les Concepts narratifs en action</a>).</p>

<p>Pour la structure générale, il suffira “simplement” de repérer les scènes-clés et de définir les grands segments et ce qui les caractérise.</p>

<p>Pour les personnages, une description sommaire de leurs caractéristiques, de leur fonction dans le film et de leurs actions concrètes principales suffira à donner un premier aperçu.</p>

<h3 id="constitution-du-document">Constitution du document</h3>

<p>Le document doit être présenté proprement, c’est-à-dire comporter en entête :</p>

<ul>
  <li>le titre du film,</li>
  <li>les auteurs du scénario et le réalisateur du film,</li>
  <li>l’année de sortie,</li>
  <li>un pitch du film,</li>
  <li>le titre et l’auteur du présent document, par exemple “Analyse partielle, par <%= user.patronyme || user.pseudo %>”.</li>
</ul>

<p>On pourra trouver ensuite une partie <strong>introduction générale</strong> présentant notamment votre sentiment général sur le film. Attention dans cette partie à ne pas paraphraser le résumé.</p>

<p>Puis on devrait trouver dans la suite les trois points susnommés :</p>

<ul>
  <li>la structure (à peu près une page),</li>
  <li>les personnages (une ou deux pages),</li>
  <li>les Fondamentales (à peu près une page).</li>
</ul>

<p>Mettez ces trois points dans l’ordre que vous voulez en fonction par exemple de ce que chaque point représente dans le film choisi.</p>

<p>Enfin, vous pourrez faire une courte conclusion libre.</p>

<h3 id="conclusion-dans-la-vraie-vie">Conclusion dans la vraie vie</h3>

<p>En guise de conclusion à ce travail — et pas au document —, vous devrez également soumettre votre document à des amis ou des parents, deux ou trois personnes suffisamment proches, ayant vu le film — ou acceptant de le voir avant d’en parler avec vous —, avec lesquelles vous pourriez discuter du film pour comparer vos points d’accord et confronter vos points de désaccord.</p>

<p><span class="red">ATTENTION</span></p>

<p>Il s’agit bien de <em>\1</em> et de <em>\1</em> ses points de vue, vous devrez bien leur faire comprendre que vous n’attendez pas d’eux qu’ils jugent votre travail. Votre travail ne doit servir que de point de repère par rapport à l’analyse qu’ils pourront faire eux-mêmes, moins fouillée sans doute.</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="cadre_links">
    <span class="lien_prev_page"></span>
    <span class="lien_main_page"><a href="unanunscript/bureau/pages">Votre bureau</a></span>
    <span class="lien_next_page"></span>
    <div class="buttons boutons_marquages right"><a href="unanunscript/page_cours/46?wid=<%= param(:wid) %>&op=set_aside" class="medium btn">Mettre la page de côté</a><a href="unanunscript/bureau/pages?op=done_work&wid=<%=param(:wid)%>" class="medium btn main">Marquer la page lue</a></div>
  </div>
</div>

