<%
  #
  # Page principale qui affiche le formulaire et le gère
  #
  # Noter que c'est cette même page qui gère les formulaires pour
  # le programme UN AN UN SCRIPT. La seule différence, c'est qu'au
  # retour dans le bureau, on peut voir le questionnaire fait.
  #

  # Il faut vérifier s'il faut soumettre le questionnaire
  # debug "param(:operation) = #{param(:operation).inspect}"
  case param(:operation)
  when 'evaluate_quiz' then quiz.evaluate
  when 'redo'          then quiz.redo
  when 'revoir'
    # rien à faire pour le moment. Dit juste à l'application qu'il
    # faut charger le résultat param(:quiz)[:resultats_id]
  end

  require_form_support
%>
<%= header(:small) %>
<h2 class="small">Les quiz</h2>
<% 
# Pas de marge droite, parce qu'on n'en a pas besoin et pour ne pas
# empiéter sur le quiz
%>
<%= quiz.output %>
<%= footer %>
