<div class="cadre air">
  <p>
    Vous n’êtes pas identifié(e), votre profil n’existe pas (encore) sur le site. <%= lien.signin(titre: 'IDENTIFIEZ-VOUS !') %>
  </p>
  <p>
    Pour vous inscrire, cliquez le lien : <%= lien.signup('S’INSCRIRE') %>.
  </p>
</div>
