<h2>Votre profil</h2>
<p class="small">Bienvenue dans votre profil, <%= user.pseudo %>, vous pouvez régler ici tout ce qui concerne vos préférences et vos options sur <%= site.configuration.name %>.</p>

<p>
  [ICI, BIENTÔT, VOTRE PROFIL]
</p>
