<h2>Votre profil</h2>
<p class="small">Bienvenue dans votre profil, <%= user.pseudo %>, vous pouvez régler ici tout ce qui concerne vos préférences et vos options sur <%= site.configuration.name %>.</p>

<%= u.row_inscrit_depuis %>

<h3>Forum - sujets suivis</h3>
<p>
  [Bientôt ici la liste des sujets forum que vous suivez]
</p>

<h3>Narration - pages mise de côté</h3>
<p>
  [Bientôt ici la liste des pages de la collection que vous avez mises de côté]
</p>
