<% 
    # Partiel qui est appelée lorsque l'adresse user/profil est
  # invoquée, sans objet_id, et que l'user n'est pas identifié
  # Dans ce cas, c'est une page type qui est affichée.
%>
<h2>Aucun profil</h2>
<p class="cadre air">Vous arrivez sur cette page lorsque vous n'êtes pas identifié et que vous n'avez demandé le profil d’aucun inscrit.</p>
