<% 
  # Profil complet d'un utilisateur autre que l'user courant
  # lorsque cet user courant est inscrit et identifié
%>
<h2>Profil de <%= u.pseudo %></h2>
<p class="tiny">Vous êtes inscrit<%= user.f_e %> au site, vous pouvez donc voir un profil complet de cet<%= u.f_te %> autre inscrit<%= u.f_e %>.</p>
