<% 
# Quand le paiement pour l'abonnement a été effectué
# C'est la page de confirmation
%>
<h2>Merci de votre soutien&nbsp;!</h2>

<p><%= user.pseudo %>, vous êtes maintenant abonné<%= user.f_e %> pour un an au site.</p>

<p>

</p>
