<%
# Quand le paiement pour l'abonnement a été effectué
# C'est la page de confirmation
%>
<h2>Merci de votre soutien&nbsp;!</h2>

<p><%= user.pseudo %>, vous êtes maintenant abonné<%= user.f_e %> pour un an au site.</p>

<p>
Vous pouvez à présent rejoindre <a href="user/profil">votre profil</a> ou consulter l’<a href="aide">aide du site</a> pour connaitre vos tout nouveaux privilèges.
</p>

<p>Encore merci de votre soutien, en espérant que <%= site.configuration.titre %> puisse vous permettre de concevoir les meilleures histoires possibles&nbsp;!</p>
