<h3 class="titre_livre"><span class='titre_livre'>La Structure</span></h3>
<div class="liens_next_previous_pages top">
  
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/4">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/6">→</a></span>
  </div>
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/2">Prologue</a></span></div>
</div>

<section id="page_narration-5" class="page_narration">
<h2 class="titre_page">Quand faut-il aborder la structure de son récit ?</h2>

<!-- Page: Quand faut-il aborder la structure de son récit ? -->

<p>La réponse est simple :</p>

<blockquote>
  <p>Il convient d’aborder<br />la structure de son récit<br />le plus tôt possible.</p>
</blockquote>

<p>De par sa difficulté propre, la structure doit rester dans les préoccupations premières de l’auteur, qui devra s’entrainer le plus tôt possible à “penser structurellement” et interroger toujours sa structure dès les premiers balbutiements de l’histoire.</p>

<p>Cependant, ne tombez pas dans l’écueil — trop souvent conseillé — d’attendre d’obtenir la structure de votre récit avant de vous lancer à l’intérieur de ce récit. Si la structure est dépendante de tous les autres éléments narratifs, alors comment pourriez-vous la déterminer autrement que froidement sans connaitre, sans développer, ces autres éléments ? Comment pourriez-vous la faire reposer sur les émotions sans connaitre suffisamment vos personnages ? Sans connaitre suffisamment bien vos thèmes et ce que vous voulez en dire ? Comment pourriez-vous la concevoir sans connaitre suffisamment bien les forces dynamiques — objectifs, obstacles, conflits — sur lesquelles vous allez faire reposer votre récit ?</p>

<p>Quand on en est à la phase d’apprentissage de l’écriture, se refuser à entrer dans le cœur du récit avant d’avoir établi la structure produit toujours le même résultat : une structure froide, intellectuelle, désincarnée, rationnelle. Une structure où dans le meilleur des cas on trouvera du conflit, mais du conflit pour du conflit. En bref : tous les ingrédients susceptibles de décourager le public…</p>

<!-- TODO: Mettre en exergue le paragraphe suivant, d'une manière ou d'une autre. -->

<p>C’est un des écueils de l’apprentissage de l’écriture en général : on s’échine trop souvent à inculquer à l’apprenti-auteur les méthodes utilisées par les auteurs aguerris. Or, les conseils donnés à un auteur expérimenté — donc un auteur qui a acquis une maturité artistique suffisante — ne peuvent pas s’appliquer tels quels à un auteur débutant qui a tout à apprendre, tout à comprendre, tout à maturer, à commencer par la notion d’art elle-même. Il est donc indispensable de garder en tête, tout au long de son apprentissage, que :</p>

<blockquote>
  <p>Les méthodes employées par l’auteur aguerri sont très souvent de mauvais conseils pour l’apprenti-auteur.</p>
</blockquote>

<h4 id="dans-la-spirale-de-dveloppement">Dans la Spirale de développement</h4>

<p>La structure, comme le reste des ingrédients principaux d’une histoire, doit se développer selon le principe de la “Spirale de développement” que je détaille dans l’ouvrage consacré au travail de l’auteur.</p>

<!-- TODO: Référence nécessaire -->

<p>Pour résumer cette méthode, la <em>spirale de développement</em> consiste à concevoir le projet à partir de plusieurs documents définis — un sur les personnages, un sur la <tt>dynamique narrative</tt>, un sur les <tt>Fondamentales</tt>, un sur la structure, etc. — qu’on travaille en parallèle, l’un après l’autre, de façon de plus en plus approfondie et précise, en reprenant le premier lorsque l’on a atteint le dernier, en s’efforçant de se rapprocher chaque fois un peu plus du cœur de son récit. Ce qui revient à dire que la structure doit se développer en même temps que l’on développe ses personnages, en même temps que l’on développe l’objectif et les obstacles, en même temps que l’on développe ses thèmes et tous les autres éléments décisifs du récit.</p>
</section>
<div class="liens_next_previous_pages bottom">
  <div class="under_next_prev_links"><span class="fleft"><a href="narration">Tous les livres</a></span><span class="chap_titre"><a href="narration/page/1">Introduction à la structure</a></span><span class="schap_titre"><a href="narration/page/2">Prologue</a></span></div>
  <div class="cadre_links">
    <span class="lien_prev_page"><a href="narration/page/4">←</a></span>
    <span class="lien_main_page"><a href="narration/livre/1">Table des matières</a></span>
    <span class="lien_next_page"><a href="narration/page/6">→</a></span>
  </div>
  
</div>

