
// General definitions for site

// Pour le moment, on ne peut pas encore utiliser les définitions. Il faudrait
// voir comment Sass les utilise, mais si on joue simplement comme ça, ça ne
// fonctionne pas. L'autre solution serait de faire le fichier CSS "sur place"
// puis d'en charger le code dans le fichier all.css, à voir.

// Pour le moment, on ajoute toujours le code de ce fichier au code SASS

$backgroundColor: #EEF

// Pour le body derrière le site proprement dit ou encore
// l'encard pour le coup de projecteur
$darkBackground: #8C82B2

// Couleur sombre
// Par exemple pour le logo et les titres de page
$darkTextColor:   $darkBackground // #4682b4


$fontFamily:  Arial //Avenir
$fontSize:    15.9pt
$linkColor:   orange
