.red
  color: red
  // Sur du rouge comme dans le flash
  div#flash div.error
    color #FFA1A2

.green
  color: green !important

.blue
  color: blue !important

.small
  font-size   : 0.85em
.tiny
  font-size   : 0.7em
