div#riendutout
  display : block

div#flash
  div.error
    .red
      color : #FFA1A2 !important

.bold
  font-weight   : bold

.red, .warning:not(a)
  color   : red!important
a.warning
  background-color  : red ! important
  color             : white ! important

.green:not(a)
  color: green !important
a.green
  background-color  : green ! important
  color             : white ! important

.blue
  color: blue !important

p.notice, span.notice
  // ne pas mettre '.notice' ou 'div.notice', influencerait le flash
  color: blue !important

.small
  font-size   : 0.85em
.tiny
  font-size   : 0.7em
.minuscule
  font-size   : 9pt!important
  line-height : 14px

// Plus fin en largeur
.thiner
  margin-left   : 6%
  margin-right  : 26%

// NON pas : .discrete, qui sert à autre chose
.discret
  opacity   : .5
  &:hover
    opacity : 1

.center
  text-align  : center!important
.right
  text-align  : right!important

// Ajoute un cadre arrondi
.cadre
  border        : 2px solid $darkTextColor
  border-radius : 1em
  display       : inline-block
  &:not(.large)
    width         : 50%
    max-width     : 50%
  &:not(.air)
    padding       : 1em
    margin        : 1em

.air
  &:not(.big)
  padding         : 1.75em
  margin          : 1.75em
  border-radius   : 1.75em
  &.big
    padding       : 3em
    margin        : 3em
    border-radius : 2em

// Un livre, un film, etc.
span.oeuvre
  color       : #434343
  font-family : "Times New Roman", Times, "Liberation Serif", FreeSerif, serif
  font-size   : 1.16em
  letter-spacing  : 2.6px
  &:before, &:after
    content   : "•"

// Un tag entouré
.tag
  color           : #999
  border          : 1px solid
  border-radius   : 4px
  padding         : 0px 4px
  font-family     : Avenir
  font-size       : 12pt
  margin          : 0 6px
  text-decoration : none !important

// Pour du texte qui ne doit apparaitre qu'en version ligne
.block
  display   : block

.fleft
  float : left
.fright
  float : right

// Pour les éléments un peu transparent qui s'éclaircissent au passage
// de la souris
.light
  opacity : 0.4
  &:hover
    opacity : 1
