.red
  color: red
  // Sur du rouge comme dans le flash
  div#flash div.error
    color #FFA1A2

.green
  color: green !important

.blue
  color: blue !important

.small
  font-size   : 0.85em
.tiny
  font-size   : 0.7em

.center
  text-align  : center

span.oeuvre
  color       : #434343
  font-family : "Times New Roman", Times, "Liberation Serif", FreeSerif, serif
  font-size   : 1.16em
  letter-spacing  : 2.6px
  &:before, &:after
    content   : "•"

// Pour les éléments un peu transparent qui s'éclaircissent au passage
// de la souris
.light
  opacity : 0.4
  &:hover
    opacity : 1
