// Pour contrecarrer les problèmes de all.css
div#riendutout
  display : block

body
  // La section #contents n'a pas de dossier, donc pas de moyen
  // d'être définie dans ce dossier. Il faut le définir ici
  section#contents
    min-height          : 12em
    // border              : 1px dashed green
    padding             : 0 1em 6em 1em
    // Le premier 0 ci-dessus permet de mieux gérer la position d'un
    // titre H2 de page
    padding-left         : 9em

    background-color    : white
    border-radius       : 0 0 1em 1em
    a
      // color      : #A16E00
      text-decoration : underline #FFE3B2
      color         : inherit

    > *
      max-width     : 36.6em

    // Tous les paragraphes ou les pseudo-paragraphes
    p, div.p, ul li
      text-align    : justify
      line-height   : 1.5em

    // Pour un span contenant un lien pour l'édition de la page
    // courant
    span.span_edit_link
      font-size     : 11pt !important
      float         : right
      a
        color : orange
        opacity : 0.4
        &:hover
          opacity : 1

    // Dans le cas où on ajoute une "case" en dessous, par exemple, pour
    // les pages narration, l'indication du chapitre et du sous-chapitre
    div.under_next_prev_links
      clear         : both
      font-variant  : small-caps
      text-align    : right
      padding       : 0 7em
      font-size     : 1em
      a
        text-decoration   : none
        color             : black

    // Pour tous les liens de pages précédentes et suivantes
    div.liens_next_previous_pages
      position    : relative
      height      : 30px
      font-size   : 13pt
      width       : 98%
      max-width   : 98%
      text-align  : center
      margin      : 1em 3em
      &.top
        margin-bottom   : 2em
        span
          bottom          : 0px
        div.cadre_links
          border-bottom   : 1px solid #CCC
          padding-bottom  : 0.4em
        div.under_next_prev_links
          margin-top: 0.2em
      &.bottom
        margin-top      : 3em
        div.cadre_links
          border-top      : 1px solid #CCC
        div.under_next_prev_links
          margin-bottom: 0.2em
      span
        &.lien_next_page
          position    : absolute
          right       : 0
        &.lien_prev_page
          position    : absolute
          left        : 0
        &.lien_main_page
          a
            font-size   : 0.85em
        &.lien_next_page, &.lien_prev_page
          a
            font-size   : 22pt
        &.lien_next_page, &.lien_prev_page, &.lien_main_page
          a
            color       : black
            text-decoration : none
            opacity     : 0.5
            &:hover
              opacity     : 1

  // Les exergues amenées par "> "
  blockquote
    > p
      font-weight     : bold
      margin          : 3em 4em
      text-align      : center
