div#flash
  position            : fixed
  right               : 0
  top                 : 5em
  z-index             : 500
  max-width           : 340px
  font-size           : 12.1pt
  letter-spacing      : 1px

  > div
    padding             : 0.8em 1em 0.8em 2em

  // Les erreurs
  div.error
    background-color    : red
    color               : white
    a, a:link, a:visited, a:hover
      color               : #00B0FF !important

  // Les messages
  div.notice
    background-color    : #009
    color               : white
    a, a:link, a:visited, a:hover
      color   : #afd26f !important
