
// Liens d'édition pour l'administrateur
div.admin_edit_links
  float         : right
  opacity       : 0.4
  &:hover
    opacity       : 1
  a
    font-size       : 11pt
    border          : 1px solid
    border-radius   : 7px
    padding         : 1px 10px 2px
    color           : green !important
    margin-right    : 1em
    text-decoration : none !important
    &:hover
      background-color  : green
      color             : white !important
