// lien de type bouton
a.btn
  text-decoration : none !important
  border          : 1px solid #777
  padding         : 10px 33px
  background      : linear-gradient(#fcfcfc, #AAAAAA)
  color           : #525252 !important

input[type="submit"], input[type="button"], a.btn
  font-family       : Arial, Helvetica
  letter-spacing    : 2.4px

// Les boutons submit/button
input[type="submit"], input[type="button"]
  &.main
    color             : white
    background        : linear-gradient(#4CE54C, #079007)


// Liens d'édition pour l'administrateur
div.admin_edit_links
  float         : right
  opacity       : 0.4
  &:hover
    opacity       : 1
  a
    font-size       : 11pt
    border          : 1px solid
    border-radius   : 7px
    padding         : 1px 10px 2px
    color           : green !important
    margin-right    : 1em
    text-decoration : none !important
    &:hover
      background-color  : green
      color             : white !important
