ul.simple
  list-style    : none
  margin        : 0
  padding       : 1em
  li
    clear         : both
    border-bottom : 1px solid #CCC
    padding       : 0 1em
    &:hover
      background-color    : #EEE
