// Pour des libellés à mettre au-dessus d'une liste à colonne,
// sans que ces libellés soient forcément aligner parfaitement.
div.libelle_colonnes
  font-size   : .7em
  color       : #777
  font-style  : italic

ul.simple, ul.sensible, ul.discrete
  li
    vertical-align  : text-top
    > div.float, > span, > a, > div > span
      vertical-align  : text-top
    div, span, a
      margin-left : 12px
    // Les boutons dans un DIV "buttons"
    div.buttons
      a
        &:not(.small), &:not(.tiny)
          font-size : .6em
          border    : 1px solid #999
          padding   : 1px 4px 3px

ul.simple
  list-style    : none
  margin        : 0
  padding       : 1em
  li
    clear         : both
    border-bottom : 1px solid #CCC
    padding       : 0 1em

// Similaire à "simple", mais occupe toute la largeur de son container
// Si c'est un fielset, il faut mettre le padding de ce fieldset à 0
ul.plain
  list-style    : none
  margin        : 0
  padding       : 1em 0
  li
    clear           : both
    border-bottom   : 1px solid #CCC
    padding         : 0 .6em

// Les rangées se colorent lorsqu'on passe la souris dessus
ul.sensible
  li
    &:hover
      background-color    : #EEE

// Dans cette liste :
//  - tous les éléments tagger "discret" se cache (visibiliy) jusqu'au
//    passage de la souris.
//  Rappel : pour le test, modifier le style.visibility de l'élément pour
//  le faire apparaitre.
ul.discrete
  li
    .discret
      visibility   : hidden
    &:hover
      .discret
        visibility   : visible


// Listes de définition
dl
  padding: 0
  dt
    font-size     : 1em
    font-weight   : bold
    // font-style    : italic
    padding       : 0
    margin        : 1.5em 0 .5em
    &:first-child
      padding       : 0
    & > :first-child
      margin-top    : 0
    & > :last-child
      margin-bottom : 0
  dd
    font-size     : .9em
    margin        : 0 0 15px
    padding       : 0 15px
    & > :first-child
      margin-top      : 0
    & > :last-child
      margin-bottom   : 0
