section
  p
    &:last-child
      margin-bottom   : 0
    &:first-child
      margin-top      : 0

// "section" concerne aussi les blocs quelconques,
// qu'ils soient dans des sections ou non
.retrait2
  margin-left     : 4em

.retrait4
  margin-left     : 8em


pre
  &.document
    font-size         : 0.85em
  &:not(.document)
    padding           : 1em
    background-color  : #333
    color             : white
    overflow          : auto
    max-width         : 98%
    code
      padding-right     : 2em

fieldset
  // Pour toutes les légends des fieldset
  legend
    font-style    : italic
    color         : #777
    font-size     : .85em
