section
  p
    &:last-child
      margin-bottom   : 0
    &:first-child
      margin-top      : 0

// "section" concerne aussi les blocs quelconques,
// qu'ils soient dans des sections ou non
.retrait2
  margin-left     : 4em

.retrait4
  margin-left     : 8em


pre
  padding           : 1em 0
  background-color  : #333
  color             : white
  overflow          : auto
  max-width         : 98%
  code
    padding-right     : 2em
