

// Rappel : le niveau H1 est réservé au titre du site. On commence donc
// seulement à H2, qui est le titre de la page

// Titre de la page
h2
  margin        : 0
  padding       : 0
  color         : $darkTextColor
  margin-left   : -2em
  margin-bottom : 1em

// Premier titre dans une page
h3
  margin        : 0
  padding       : 0
  color         : $darkTextColor
